<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <footer id="footer" class="footer position-relative">
    <div class="container footer-top">
    </div>
    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="sitename">중앙정보 4팀</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
      <div class="copyrightName">
        Designed by 중앙정보 4팀
      </div>
      </div>
    </div>
  </footer>
</html>