<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <footer id="footer" class="footer position-relative">
		<div class="footerContent">
		<div class="menu">
			<a href="https://www.hansung.ac.kr/hansung/3916/subview.do" target="_blank"><strong>개인정보처리방침</strong></a>
			<span class="separator">|</span>
			<a href="https://www.choongang.co.kr/" target="_blank"><strong>중앙정보처리학원</strong></a>
		</div>
		<div>
			<div>
				<hr>
				<strong>중앙정보 상담센터</strong>
				<p>
					서울특별시 마포구 신촌로 176<br>
					<span>TEL : (상담) 02-313-1711 </span><br>
				</p>
			</div>
		</div>
		<hr>
		<div class="copyright">COPYRIGHT ⓒ 중앙정보 4팀. All Right Reserved.</div>
		</div>
  </footer>
</html>
