<div class="container-fluid position-relative d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">중앙 상담 센터</h1><span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="./templates.content/job.html" class="">취업/진로상담</a></li>
          <li><a href="#about">장애상담</a></li>
          <li><a href="#services">성 상담</a></li>
          <li><a href="#portfolio">심리 상담</a></li>
          <li><a href="#pricing">지도교수 상담</a></li>
          <li><a href="#team">집단 상담</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="">로그인</a>
    </div>