<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>중앙 - 상담 신청</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- jQuery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- SweetAlert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="css/cslSchedule.css" rel="stylesheet">
  
  
  <!-- Main CSS File -->
	    
        
  </style>  
  
</head>

<body class="index-page">
	<header class="header">
		<div th:replace="../templates/fragments/header"></div>

	</header>
  
  <main class="sch">
    <section id="sexSection">
      <div class="container">
        <!-- Content here -->
        <div class="main_top">
        	<div class="main_top_row">
        		<div class="main_top_row_title first">
        			상담 종류
        		</div>
				<div class="main_top_row_content" th:switch="${cate}">
				    <div th:case="'1'">
				        진로·취업 상담
				    </div>
				    <div th:case="'2'">
				        성평등 상담
				    </div>
				    <div th:case="'3'">
				        장애지원 상담
				    </div>
				</div>
        	</div>
        	<div class="main_top_row second">
        		<div class="main_top_row_title">
					상담상태 조건으로 검색	        			
        		</div>
        		<div class="main_top_row_content" >
				    <button class="each_stat avail" onclick="toggleButton(this)">
				        <img src="./image/selected.png" alt="예약가능" class="icon selected-icon">
				        <img src="./image/unselected.png" alt="예약가능" class="icon unselected-icon" style="display: none;">
				        예약가능
				    </button>
				    <button class="each_stat booked" onclick="toggleButton(this)">
				        <img src="./image/selected.png" alt="예약완료" class="icon selected-icon">
				        <img src="./image/unselected.png" alt="예약가능" class="icon unselected-icon" style="display: none;">
				        예약완료
				    </button>
				    <button class="each_stat canceled" onclick="toggleButton(this)">
				        <img src="./image/selected.png" alt="상담 취소" class="icon selected-icon">
				        <img src="./image/unselected.png" alt="예약가능" class="icon unselected-icon" style="display: none;">
				        상담 취소
				    </button>
				    <button class="each_stat completed" onclick="toggleButton(this)">
				        <img src="./image/selected.png" alt="상담 완료" class="icon selected-icon">
				        <img src="./image/unselected.png" alt="예약가능" class="icon unselected-icon" style="display: none;">
				        상담 완료
				    </button>
        		</div>        	
        	</div>
        </div>
        <div class="main-cal">
	        <div class="week-nav">
	          <button id="prevWeek" class="cal_nav"><</button>
	          <span id="calTitle">
	          </span>
	          <button id="nextWeek" class="cal_nav">></button>
	        </div>
	        <div id="calendar"></div>
	        <div class="div_hidden">
	        	<div th:text="${student.name}" id="studentName"></div>
	        	<div th:text="${student.studNo}" id="studNo"></div>
	        	<div th:text="${student.department.cNmk}" id="deptName"></div>
	        	<div th:text="${student.telNo}" id="studentTelNo"></div>
	        	<div th:text="${student.users.email}" id="studentEmail"></div>
	        	<div th:text="${cate}" id="cate"></div>
	        	<div th:text="${name}" id="cslorName"></div>
	        	<div th:text="${cslorNo}" id="cslorNo"></div>
	        	<div th:text="${cslLoc}" id="cslLoc"></div>
	        </div>
        </div>        
      </div>
    </section>
  </main>

	<!-- 모달 창 -->
	<div id="myModal" class="modal">
	    <!-- 모달 내용 -->
	    <div class="modal-content">
	    	<div class="modal-content_top">
		    	<div id="modal_top">
		    		<span id=modal_top_title>상담신청</span>
			        <span id="closeButton" class="close">&times;</span>
		    	</div>
		    	<div id="modal_mid">
		    		<div id="modal_mid_title">
		    		</div>
		    		<div id="modal_mid_table1">
		    			<div class="modal_mid_table1_row2 modal_mid_table1_row_top">
		    				<div class="colored_cell modal_cell colered">
		    					상담구분
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalCate">
		    				</div>
		    				<div id="modalCateHidden">
		    				</div>
		    			</div>
		    				
		    		</div>
		    		<div id="modal_mid_table2">
		    			<div class="modal_mid_table1_row1 modal_mid_table1_row_top">
		    				<div class="colored_cell modal_cell colered">
		    					이름
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalStudentName">
		    				</div>							    			
		    				<div class="colored_cell modal_cell colered">
		    					학번
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalStudNo">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row2">
		    				<div class="colored_cell modal_cell colered">
		    					소속
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalDeptName">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row1">
		    				<div class="colored_cell modal_cell colered">
		    					연락처
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalStudentTelNo">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row2">
		    				<div class="colored_cell modal_cell colered">
		    					이메일
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalStudentEmail">
		    				</div>							    			
		    			</div>
		    		</div>
		    		<div id="modal_mid_table3">
		    			<div class="modal_mid_table1_row1 modal_mid_table1_row_top">
		    				<div class="colored_cell modal_cell colered">
		    					상담일자
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id=modalDate>
		    				</div>							    			
		    				<div class="colored_cell modal_cell colered">
		    					상담시간
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalTime">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row2">
		    				<div class="colored_cell modal_cell colered">
		    					상담상태
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalIsBook">
		    				</div>
		    				<div id="modalIsBookHidden"></div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row1">
		    				<div class="colored_cell modal_cell colered">
		    					상담자
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalCslorName">
		    				</div>							    			
		    				<div class="colored_cell modal_cell colered">
		    					상담장소
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalCslLoc">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row2">
		    				<div class="colored_cell modal_cell colered">
		    					신청 내용
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalTime">
		    					<textarea id="modalText" rows="5" cols="50"></textarea>
		    				</div>						    			
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div id=modalCslorNo></div>
		    <div id=modalSchNo></div>
	    	<div id="modal_bottom" >
	    		<div id="modal_close">
	    			닫기
	    		</div>
	    		<div class="modal_submit">
	    			등록
	    		</div>
	    	</div>
	        
	    </div>
	</div>
  
  
  
  <!-- Thymeleaf에서 스케줄 데이터를 JSON으로 전달 -->
  <script th:inline="javascript">
      /*<![CDATA[*/
      const schedules = /*[[${schedules}]]*/ [];
      /*]]>*/
  </script>  
  


<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', () => {
        // 요일 배열
        const days = ['일', '월', '화', '수', '목', '금', '토'];

        // 초기 날짜 (오늘)
        let currentDate = new Date();

        // 주간 달력 생성 함수
        function generateCalendar(date) {
            // 월요일부터 일요일까지의 날짜 가져오기
            const dates = [];
            const startOfWeek = new Date(date);
            startOfWeek.setDate(date.getDate() - date.getDay() + 1); // 월요일로 설정
            for (let i = 0; i < 7; i++) {
                const current = new Date(startOfWeek);
                current.setDate(startOfWeek.getDate() + i);
                dates.push(current);
            }

            // 달력 HTML 생성
            let calendarHTML = '<table>';
            calendarHTML += '<tr><th>시간</th>' + dates.map(d => `<th>${d.getMonth() + 1}.${d.getDate()}(${days[d.getDay()]})</th>`).join('') + '</tr>';

            // 시간대 추가
            const hours = ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00'];
            hours.forEach(hour => {
                calendarHTML += '<tr><td>' + hour + '</td>' + dates.map((d, i) => `<td id="${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()}-${hour}"></td>`).join('') + '</tr>';
            });

            calendarHTML += '</table>';

            // 달력을 페이지에 삽입
            document.getElementById('calendar').innerHTML = calendarHTML;
            
            // 달력 상단에 현재 월 표시
            document.getElementById('calTitle').textContent = `${date.getFullYear()}년 ${date.getMonth() + 1}월`;            

         	// 스케줄 데이터를 달력에 추가
            schedules.forEach(schedule => {
                const dateString = schedule.date;
                const timeString = schedule.time;
                const isbook = schedule.isbook;
                const schNo = schedule.no;
                
             	// 현재 날짜와 시간 구하기
                const now = new Date();
                now.setHours(0, 0, 0, 0); // 현재 날짜의 시작 시간을 설정
                
             	// 내일 날짜 구하기
                const tomorrow = new Date(now);
                tomorrow.setDate(tomorrow.getDate() + 1);
                
                // date와 time을 결합하여 Date 객체 생성
                const date = new Date(`${dateString}T${timeString}`);
                if (!isNaN(date)) {
                    const hours = date.getHours().toString().padStart(2, '0');
                    const minutes = date.getMinutes().toString().padStart(2, '0');
                    const time = `${hours}:${minutes}`;    
                    
                    let content = '예약 가능';
                    let buttonClass = 'available-button';

                    if (isbook === '1') {
                        content = '예약 완료';
                        buttonClass = 'booked-button';
                    } else if (isbook === '2') {
                    	content = '상담 완료';
                        buttonClass = 'completed-button';
                    } else if (isbook === '4') {
                    	content = '상담 취소';
                        buttonClass = 'canceled-button';
                    }

                    if (date >= tomorrow || isbook === '1' || isbook === '2' || isbook === '4') {
                        addDataToCalendar(date, time, content, buttonClass, isbook, schNo);
                    }
                } else {
                    console.error('Invalid date:', `${dateString}T${timeString}`);
                }
            });
        }

     	// 데이터를 달력에 추가하는 함수
        function addDataToCalendar(date, time, content, buttonClass, isbook, schNo) {
            const cell = document.getElementById(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}-${time}`);
            if (cell) {
                const button = document.createElement('button');
                button.textContent = content;
                button.classList.add('calendar-button', buttonClass);
                
                // 예약 가능 버튼 클릭 이벤트
                if (isbook == '0') { // isbook이 '5'가 아닐 때만 모달을 열도록 함
                    button.addEventListener('click', () => {
                        openModal(date, time, isbook, schNo);
                    });
                }

                cell.appendChild(button);
            }
        }


        // 초기 달력 생성
        generateCalendar(currentDate);

        // 이전 주 버튼 클릭 이벤트
        document.getElementById('prevWeek').addEventListener('click', () => {
            currentDate.setDate(currentDate.getDate() - 7);
            generateCalendar(currentDate);
        });

        // 다음 주 버튼 클릭 이벤트
        document.getElementById('nextWeek').addEventListener('click', () => {
            currentDate.setDate(currentDate.getDate() + 7);
            generateCalendar(currentDate);
        });
        
        // 모달 영역 외의 부분을 클릭하면 모달 닫기
        window.onclick = function(event) {
            var modal = document.getElementById('myModal');
            if (event.target == modal) {
                closeModal();
            }
        }
        
        // 닫기 버튼과 모달 하단 영역 요소들을 정의
        let closeButton = document.getElementById('closeButton');
        let modalBottom = document.getElementById('modal_close');
        
        // 닫기 버튼 클릭 시 모달 닫기
        closeButton.addEventListener('click', closeModal);
        
        // 모달 하단 영역 클릭 시 모달 닫기
        modalBottom.addEventListener('click', closeModal);	  
        
        
    });
    
    // 모달 열기 함수
    function openModal(date, time, isbook, schNo) {
        // 모달이 이미 열려 있는지 확인
        if (document.getElementById('myModal').style.display === 'block') return;

        // 모달에 전달할 정보 가져오기
        const studentName = document.getElementById('studentName').innerText;
        const studNo = document.getElementById('studNo').innerText;
        const deptName = document.getElementById('deptName').innerText;
        const studentTelNo = document.getElementById('studentTelNo').innerText;
        const studentEmail = document.getElementById('studentEmail').innerText;
        const cate = document.getElementById('cate').innerText;
        const cslorName = document.getElementById('cslorName').innerText;
        const cslorNo = document.getElementById('cslorNo').innerText;
        const cslLoc = document.getElementById('cslLoc').innerText;

        // 모달에 정보 전달
        if (cate == '1') {
	        document.getElementById('modalCate').innerText = '진로·취업 상담';
        }
        document.getElementById('modalCateHidden').innerText = cate;
        document.getElementById('modalStudentName').innerText = studentName;
        document.getElementById('modalStudNo').innerText = studNo;
        document.getElementById('modalDeptName').innerText = deptName;
        document.getElementById('modalStudentTelNo').innerText = studentTelNo;
        document.getElementById('modalStudentEmail').innerText = studentEmail;
        document.getElementById('modalSchNo').innerText = schNo;
        document.getElementById('modalCslorName').innerText = cslorName;
        document.getElementById('modalCslorNo').innerText = cslorNo;
        document.getElementById('modalCslLoc').innerText = cslLoc;
        document.getElementById('modalDate').innerText = formatDate(date);
        document.getElementById('modalTime').innerText = time;
        document.getElementById('modalIsBook').innerText = (isbook === '0') ? '예약 가능' : '';
        document.getElementById('modalIsBookHidden').innerText = isbook;

        // 모달 열기
        document.getElementById('myModal').style.display = 'block';
    }

    // 모달 닫기 함수
    function closeModal() {
        // 모달 닫기
        document.getElementById('myModal').style.display = 'none';
    }
    
	// 날짜 형식을 변경하는 함수
    function formatDate(date) {
        const year = date.getFullYear();
        const month = (date.getMonth() + 1).toString().padStart(2, '0');
        const day = date.getDate().toString().padStart(2, '0');
        return `${year}.${month}.${day}`;
    }
   
	
	
    document.querySelector('.modal_submit').addEventListener('click', function() {
        // 모달 내용 가져오기
        const data = {
            cate: document.getElementById('modalCateHidden').innerText,
            studentName: document.getElementById('modalStudentName').innerText,
            studNo: document.getElementById('modalStudNo').innerText,
            deptName: document.getElementById('modalDeptName').innerText,
            studentTelNo: document.getElementById('modalStudentTelNo').innerText,
            studentEmail: document.getElementById('modalStudentEmail').innerText,
            date: document.getElementById('modalDate').innerText,
            time: document.getElementById('modalTime').innerText,
            isbook: document.getElementById('modalIsBookHidden').innerText,
            schNo: document.getElementById('modalSchNo').innerText,
            cslorName: document.getElementById('modalCslorName').innerText,
            cslorNo: document.getElementById('modalCslorNo').innerText,
            cslLoc: document.getElementById('modalCslLoc').innerText,
            cslApplyText: document.getElementById('modalText').value // 텍스트영역 내용 추가
            
            // 기타 필요한 정보도 가져오세요
        };

        // 서버로 데이터 전송
        fetch('/cslapply', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // 성공적으로 저장되었을 때의 처리
            alert("예약이 완료되었습니다.");
            // 다른 페이지로 이동
            window.location.href = "/index";             
        })
        .catch((error) => {
            console.error('Error:', error);
            // 저장 중 오류가 발생했을 때의 처리
        });
    });
	
    function toggleButton(button) {
        const selectedIcon = button.querySelector('.selected-icon');
        const unselectedIcon = button.querySelector('.unselected-icon');

        if (unselectedIcon) {
            if (unselectedIcon.style.display === 'none') {
                selectedIcon.style.display = 'none';
                unselectedIcon.style.display = 'inline';
                button.classList.add('unselected');
            } else {
                selectedIcon.style.display = 'inline';
                unselectedIcon.style.display = 'none';
                button.classList.remove('unselected');
            }
        } else {
            button.classList.toggle('selected');
        }
        
        toggleCalendarItems(button);
    }    
    
    function toggleCalendarItems(button) {
        const buttonClass = button.classList.contains('avail') ? 'available-button' : 'booked-button';
        const calendarItems = document.querySelectorAll(`.calendar-button.${buttonClass}`);

        calendarItems.forEach(item => {
            if (item.classList.contains('hidden')) {
                item.classList.remove('hidden');
            } else {
                item.classList.add('hidden');
            }
        });
    }


 
    
    
    
</script>


  
</body>

  <footer id="footer">
    <div th:replace="../templates/fragments/footer"></div>
  </footer>

</html>