<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>중앙 - 상담 신청</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- jQuery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- SweetAlert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/sex.css" rel="stylesheet">
  
  <script
	src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
</head>

<body class="index-page">
	<header class="header">
		<div th:replace="../templates/fragments/header"></div>
		<script type="text/javascript">
		  document.addEventListener('DOMContentLoaded', function() {
			    var calendarEl = document.getElementById('calendar');

			    var calendar = new FullCalendar.Calendar(calendarEl, {
			    	initialView : 'timeGridWeek',
					locale: 'ko', // 한국어 설정
					headerToolbar: {
					      left: 'prev,next today',
					      center: 'title',
					      right: 'dayGridMonth,timeGridWeek'
					 },
					 buttonText: {
		                 today: '오늘',
		                 month: '월간보기',
		                 week: '주간보기'
		             },
					 weekends: false,
					 slotMinTime: '09:00:00',  // 9시부터 시작
					 slotMaxTime: '18:00:00',  // 18시까지 표시
					 allDaySlot: false,  // all-day 섹션 제거
					 events:[
					      /* ...generateHourlyEvents(formattedDate, convertedTimes) */
					 ],
					 eventClick: function(info) {
						/* info.jsEvent.preventDefault(); // 페이지 이동을 막음(url이동)
						
						// 클릭된 이벤트의 시간과 날짜 가져오기
					    var eventStart = info.event.start;
					    var eventTime = eventStart.getHours() + ':' + ('0' + eventStart.getMinutes()).slice(-2);
					    var eventDate = eventStart.toISOString().split('T')[0];
					    
		                
					    $('#event-time').text(eventTime);
		    			$('#event-date').text(eventDate);
					    

		                     
				          // 모달 표시
				         $('#event-modal').show(); */
				     }
				});
				
				calendar.render();
			  });
		</script>
	</header>
  
  <main class="sex">
    <section id="sexSection">
      <div class="container">
        <!-- Content here -->
        
        test ㅋㅋㅋ
		<div id='calendar'></div>
		
		<button id="pfData">교수님 데이터 적용</button>
		<button id="pfInformation">교수님 정보</button>        
        
      </div>
    </section>
  </main>
  
</body>

  <footer id="footer">
    <div th:replace="../templates/fragments/footer"></div>
  </footer>

</html>