<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>중앙 - 상담 시스템</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- jQuery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- SweetAlert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/group.css" rel="stylesheet">
</head>

<body class="index-page">
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div th:replace="../templates/fragments/header"></div>
  </header>
  
  <main class="groupBox">
    <section id="groupSection">
	    <div class="gcpage1">
	    	<div class="gcpa">
		      	집단 상담 프로그램 신청
	    	</div>
	    	<br>
		    <div>여기엔 카테고리 검색창</div>
		    <div>
		    	<div class="programType">
		    		프로그램 유형
		    	</div>
		    </div>
			<div class="category-selector">
			    <label><input type="checkbox" name="category" value="group-counseling"> 특강형</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 참여형</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 봉사형</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 실습형</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 자격형</label>
			</div>
			<br>
			<div>
		    	<div class="programType">
		    		핵심역량
		    	</div>
		    </div>
			<div class="category-selector">
			    <label><input type="checkbox" name="category" value="group-counseling"> 창의융합</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 전문지식탐구</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 의사소통</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 세계시민의식</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 자기성찰</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 도전</label>
			</div>
			<br>
			<div>
		    	<div class="programType">
		    		기간
		    	</div>
		    </div>
			<div class="category-selector">
			    <label><input type="checkbox" name="category" value="group-counseling"> 모집중</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 금일등록</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 1주일 내 등록</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 당일 마감</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 1주일 내 마감</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 모집마감</label>
			</div>
			
			<br>
		    <div class="search-box">
			    <input type="text" placeholder="프로그램명을 입력해 주세요">
			    <button type="submit">검색</button>
			</div>
		    <div>
		    	프로그램 리스트 나열해주는 곳
		    </div>
		    
			<div class="card" style="display: inline-block;" th:each="gc : ${gclist}">
			    <div>
			        <div style="display: inline-block;"><p th:text="${gc.GC_CONTS_CN}"></p></div>
			        <div class="applyMember">
					<div>
					    <!-- 모집 상태 -->
					    <th:block th:if="${gc.APPLY_CNT} &lt; ${gc.NOPE}">
					        <span>모집중</span>
					    </th:block>
					    <th:block th:if="${gc.APPLY_CNT} == ${gc.NOPE}">
					        <span>마감</span>
					    </th:block>
					    
					    <!-- 수강신청/정원 -->
					    <span th:text="${gc.APPLY_CNT}"></span>
					    <span>/</span>
					    <span th:text="${gc.NOPE}"></span>
					</div>
				    </div>
			        <div class="context type">
						<a th:href="@{./groupDetail(no=${gc.PRGRM_CD}) }" th:text="${gc.PRGRM_NM}" ></a>
			        </div>
			        <br>
			        <div>
			            <b>신청기간</b><p th:text="${gc.SCHDL_BGNG_YMD}"></p>~<p th:text="${gc.SCHDL_END_YMD}"></p><br>
			            <b>교육일시</b><p th:text="${gc.GC_DT}"></p><br>
			        </div>
			    </div>
			</div>
		</div>
    </section>
  </main>
  
</body>

  <footer id="footer">
    <div th:replace="../templates/fragments/footer"></div>
  </footer>

</html>