<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>중앙 - 상담 시스템</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- jQuery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- SweetAlert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/group.css" rel="stylesheet">
</head>

<body class="index-page">
	<header class="header">
		<div th:replace="~{../templates/fragments/header}"></div>
	</header>
  
  <main class="groupBox">
    <section id="groupSection">
	    <div class="gcpage1">
	    	<div class="gcpa">
		      	집단 상담 프로그램 신청
	    	</div>
	    	<p>User Code: <span th:text="${userCode}"></span></p>
	    	<br>
		    <div>
		    	<div class="programType">
		    		프로그램 유형
		    	</div>
		    </div>
			<div class="category-selector">
			    <label><input type="checkbox" name="category" value="group-counseling"> 특강형</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 참여형</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 봉사형</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 실습형</label>
			    <label><input type="checkbox" name="category" value="group-counseling"> 자격형</label>
			</div>
			<br>
			<div>
		    	<div class="programType">
		    		기간
		    	</div>
		    </div>		
			<div class="container">
			    <div class="search-box">
			        <form id="searchForm" action="./group" method="get">
			            <div class="category-selector">
			                <label><input type="checkbox" name="category" value="001"> 모집중</label>
			                <label><input type="checkbox" name="category" value="002"> 금일등록</label>
			                <label><input type="checkbox" name="category" value="003"> 1주일 내 등록</label>
			                <label><input type="checkbox" name="category" value="004"> 당일 마감</label>
			                <label><input type="checkbox" name="category" value="005"> 1주일 내 마감</label>
			                <label><input type="checkbox" name="category" value="006"> 모집마감</label>
			            </div>
			            <br>
			            <input type="text" name="searchText" placeholder="프로그램명을 입력해 주세요">
			            <button type="submit">검색</button>
			        </form>
			    </div>
			    <div class="write-box">
			        <button id="write-button" class="write-button" th:if="${userCode == '10' or userCode == '13'}">등록</button>
			    </div>
			</div>
			<br>
			<div class="card" style="display: inline-block;" th:each="gc : ${gclist}">
			    <div>
			    	<div style="display: flex; align-items: center;">
				        <img src="/image/teamlogo.png" alt="로그인 이미지" style="width: 40%; height: auto;">
				        <div class="applyMember">
							<div class="applyNopePossibility" style="width: 100%;">
							    <!-- 모집 상태 -->
							    <th:block th:if="${gc.APPLY_CNT} &lt; ${gc.NOPE}">
							        <span>모집중</span>
							    </th:block>
							    <th:block th:if="${gc.APPLY_CNT} == ${gc.NOPE}">
							        <span>마감</span>
							        
							    </th:block>
							    
							    <!-- 수강신청/정원 -->
							    <span th:text="${gc.APPLY_CNT}"></span>
							    <span>/</span>
							    <span th:text="${gc.NOPE}"></span>
							</div>
							<div class="applyPossibility">
							    <!-- 모집 상태 -->
		 					    <th:block th:if="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH') >= gc.SCHDL_BGNG_YMD and #dates.format(#dates.createNow(), 'yyyy-MM-dd HH') <= gc.SCHDL_END_YMD}">
							        <span>신청 가능</span>
							    </th:block>
							    <th:block th:if="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH') &lt; gc.SCHDL_BGNG_YMD or #dates.format(#dates.createNow(), 'yyyy-MM-dd HH') &gt; gc.SCHDL_END_YMD}">
							        <span>신청 불가</span>
							    </th:block>
							</div>
					    </div>
				    </div>
				    <div>&nbsp;</div>
			        <div class="context type">
						<a th:href="@{./groupDetail(no=${gc.PRGRM_CD}) }" th:text="${gc.PRGRM_NM}" ></a>
			        </div>
			        <br>
					<div>
					    <div class="applyDueDate" style="display: inline-block;">
					        <b style="font-size: 20px;">신청기간</b><br>
							<span th:text="${gc.SCHDL_BGNG_YMD}"></span>~<span th:text="${gc.SCHDL_END_YMD}"></span>
					    </div>
					</div>
					<br>
					<div>
					    <div class="gcDate" style="display: inline-block;">
					        <b style="font-size: 20px;">교육일시</b><p th:text="${gc.GC_DT}"></p>
					    </div>
					</div>
			    </div>
			</div>
		</div>
    </section>
  </main>
<script>
    $(document).ready(function() {
        $('input[name="category"]').on('change', function() {
            if ($(this).is(':checked')) {
                $('input[name="category"]').not(this).prop('checked', false);
            }
        });

        $('#searchForm').on('submit', function(event) {
            event.preventDefault(); // 기본 폼 제출 방지

            const formData = $(this).serialize(); // 폼 데이터를 직렬화

            // 페이지를 이동하면서 쿼리 스트링을 포함한 URL로 이동
            window.location.href = './group?' + formData;
        });
        
        $('#write-button').click(function() {
	        $.ajax({
	            type: 'POST', // GET 또는 POST 요청
	            url: '/groupWritePath', // 이동할 페이지의 URL
		            success: function(response) {
		                if (response === "success") {
		                    Swal.fire({
		                        title: "등록 페이지로 이동합니다.",
		                        icon: "success",
		                        confirmButtonText: "확인"
		                    }).then(function() {
		                        window.location.href = "/groupWrite"
		                    }); 
		                } else if (response === "login") {
		                    Swal.fire({
		                        title: "로그인이 필요한 서비스입니다.",
		                        icon: "warning",
		                        confirmButtonText: "확인"
		                    }).then(function() {
		                        window.location.href = "/login"
		                    });

		                } else {
		                    Swal.fire({
		                        title: "권한이 없습니다.",
		                        icon: "warning",
		                        confirmButtonText: "확인"
		                    }).then(function() {
		                        window.location.href = "/group"
		                    });
		                }   
		            },
	            error: function(xhr, status, error) {
					
	            }
	        });
	    });
 	});
</script>
  <footer id="footer">
    <div th:replace="~{../templates/fragments/footer}"></div>
  </footer>
</body>


</html>