<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>마이 페이지</title>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- jQuery UI -->
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<!-- SweetAlert -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Bootstrap JS -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Grid -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Main CSS File -->
<link href="assets/css/main.css" rel="stylesheet">
<link href="assets/css/myPage.css" rel="stylesheet">
<!-- Vendor JS Files -->
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="assets/js/main.js"></script>
<style>
#grid {
	display: block;
	min-height: 500px; /* 그리드 최소 높이 설정 */
}

.myPage {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content-wrap {
	flex: 1;
}

.right-content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
}

footer {
	width: 100%;
}
</style>
<script>

</script>
</head>
<body class="index-page">
	<header class="header">
		<div th:replace="../templates/fragments/header"></div>
	</header>

	<main class="myPage">
		<section id="myPageSection">
			<div class="content-wrap d-flex">
				<div class="v_menu">
					<aside class="vertical_menu">
						<h3 class="menuTitle">마이 페이지</h3>
						<ul>
							<li><a href="#" onclick="loadContent('myCounLog')">내 상담
									내역</a></li>
							<li class="dropdown"><a href="#" onclick="toggleDropdown()">1:1문의</a>
								<ul class="dropdown-content" id="dropdownOptions">
									<li><a href="#" onclick="loadContent('inquiry')">1:1문의
											하기</a></li>
									<li><a href="#" onclick="loadInquiryHistory()">1:1문의
											내역 확인</a></li>
								</ul></li>
						</ul>
					</aside>
				</div>
				<div class="right-content" id="rightContent">
					<div class="container">
						<div id="counLog"></div>
						<div id="grid"></div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- Scroll Top -->
	<a href="#" id="scroll-top"
		class="scroll-top d-flex align-items-center justify-content-center">
		<i class="bi bi-arrow-up-short"></i>
	</a>

	<script>
    var grid; // 전역 범위로 grid 객체 정의
    $(document).ready(function() {
        $.ajax({
           url : "/inquiryhistory",
           type : "get",
           dataType : "JSON",
           contentType : "application/json; charset=UTF-8",
           success : function(result) {
        	   console.log(result);
              grid = new tui.Grid({
                  el: document.getElementById('grid'),
                  pageOptions: {
                      useClient: true,
                      perPage: 10
                  },
                  scrollX: false,
                  scrollY: false,
                  columns: [{
                      header: '번호',
                      name: 'CSL_NO',
                      width: 50
                      
                  }, {
                      header: '문의 종류',
                      name: 'CSL_CATEGORY',
                      width: 200,
                  }, {
                      header: '제목',
                      name: 'CSL_TITLE',
                      width: 400,
                  }, {
                      header: '날짜',
                      width: 250,
                      name: 'CSL_DATE',
                  }, {
                	    header: '답변 상태',
                	    width: 150,
                	    name: 'CSL_STATUS',
                  }]
              });
              grid.resetData(result);
              console.log(grid.getData());
              grid.on('click', ev => {
            	    const rowKey = ev.rowKey; // 클릭된 행의 고유한 키 값 추출
            	    const rowData = grid.getRow(rowKey); // 클릭된 행의 데이터 가져오기
            	    const cslNo = rowData.CSL_NO; // 클릭된 행의 csl_no 값 가져오기
            	    console.log(cslNo);
            	    loadNewHTML(cslNo); // 해당 키 값을 함수에 전달하여 실행
            	});
              $.ajax({
                  url: '/myCounLog',
                  type: 'get',
                  success: function(response) {
                      $('#counLog').html(response);
                  },
                  error: function() {
                      $('#counLog').html('<p>콘텐츠를 불러오는 중 오류가 발생했습니다.</p>');
                  }
              });
           }
        });
    });
    function loadNewHTML(rowKey) {
    	$('#grid').hide(); // counlog 영역 숨기기
        fetch('/inquiryhistory/detail/' + rowKey)
            .then(response => {
                if (!response.ok) {
                    throw new Error('네트워크 상태가 좋지 않습니다.');
                }
                return response.text(); // 텍스트 형식의 응답을 받음
            })
            .then(html => {
                $('#counLog').html(html); // 새로운 HTML을 특정 요소에 삽입
            })
            .catch(error => {
                console.error('불러오기 오류:', error);
                $('#counLog').html('<p>콘텐츠를 불러오는 중 오류가 발생했습니다.</p>');
            });
    }
    
        function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdownOptions");
            dropdownContent.classList.toggle("show");
        }

        function loadContent(contentFile) {
            $.ajax({
                url: contentFile,
                type: 'get',
                success: function (response) {
                    $('#counLog').html(response);
                    // $('#grid').hide();
                },
                error: function () {
                    $('#counLog').html('<p>콘텐츠를 불러오는 중 오류가 발생했습니다.</p>');
                }
            });
        }

        function loadInquiryHistory() {
            $.ajax({
                url: '/inquiryhistory',
                type: "get",
                dataType: "JSON",
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                	console.log("확인1");
                	var imgHtml = '<img src="/image/ono2.jpg" alt="Image" id="onoImage">';
                    $('#grid').show();
                    grid.resetData(result);
                    $('#counLog').empty();
                    $('#counLog').append(imgHtml);
                },
                error: function () {
                    $('#counLog').html('<p>1:1 문의 내역을 불러오는 중 오류가 발생했습니다.</p>');
                }
            });
        }
    </script>
</body>

<footer id="footer">
	<div th:replace="../templates/fragments/footer"></div>
</footer>

</html>
