<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>중앙 - 심리 상담 지원</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- jQuery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- SweetAlert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/ec.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/psycslapply.css" />  
</head>

<body class="index-page">
  <header  class="header">
    <div th:replace="../templates/fragments/header"></div>
  </header>
  
  <main class="ec">
    <section id="ecSection" class="">
      <div class="container">
        <!-- Content here -->
        <div id="main_container">
	        <div id="top">
	        	<p class="title_text">
	        		기본인적사항
	        	</p>
	        	<div id="top_table">
	        		<div class="table_row">
	        			<div class="table_row_colored">
	        				이름
	        			</div>
	        			<div class="table_row_uncolored" id="student_name" th:text=${student.name}>
	        			</div>
	        			<div class="table_row_colored2">
	        				학번
	        			</div>
	        			<div class="table_row_uncolored" id="student_no" th:text=${student.studNo}>
	        			</div>
	        		</div>
	        		<div class="table_row">
	        			<div class="table_row_colored">
	        				생년월일
	        			</div>
	        			<div class="table_row_uncolored" id="student_birth" th:text=${student.birth}>
	        			</div>
	        			<div class="table_row_colored2">
	        				소속
	        			</div>
	        			<div class="table_row_uncolored" id="student_cCd" th:text=${student.department.cNmk}>
	        			</div>
	        		</div>
	        		<div class="table_row">
	        			<div class="table_row_colored">
	        				<sapn style="color: red">* </sapn>연락처(H.P)
	        			</div>
	        			<div class="table_row_uncolored" >
					        <form id="phoneNumberForm">
					            <input type="text" id="phoneNumberInput" name="phoneNumber" th:value="${student.telNo}">
					        </form>	        				
	        			</div>
	        			<div class="table_row_colored2">
	        				<sapn style="color: red">* </sapn>E-Mail
	        			</div>
	        			<div class="table_row_uncolored">
					        <form id="emailForm">
					            <input type="text" id="email" name="email" th:value="${student.users.email}">
					        </form>	        				
	        			</div>
	        		</div>
	        		<div class="table_row">
	        			<div class="table_row_colored">
	        				재학종류
	        			</div>
	        			<div class="table_row_uncolored" id="student_st" th:text=${student.st}>
	        			</div>
	        			<div class="table_row_colored2">
	        				휴학기간
	        			</div>
	        			<div class="table_row_uncolored">
	        				-
	        			</div>
	        		</div>
	        		<div class="table_row">
	        			<div class="table_row_colored">
	        				군 복무
	        			</div>
	        			<div class="table_row_uncolored" >
	        				<form id="milForm">
							  <input type="radio" id="mil1" name="mil" value="현역">
							  <label for="hy">현역</label>
							  <input type="radio" id="mil2" name="mil" value="공익">
							  <label for="ki">공익</label>
							  <input type="radio" id="mil3" name="mil" value="미필">
							  <label for="mp">미필</label>	        					
							  <input type="radio" id="mil4" name="mil" value="면제">
							  <label for="mp">면제</label><br>
							  <div style="height:5px"></div>	        					
							  <input type="radio" id="mil4" name="mil" value="해당없음">
							  <label for="hd">해당없음</label>	        					
	        				</form>
	        			</div>
	        			<div class="table_row_colored2">
	        				종교
	        			</div>
	        			<div class="table_row_uncolored">
	        				<form id="relForm">
							  <input type="radio" id="mil1" name="rel" value="기독교">
							  <label for="hy">기독교</label>
							  <input type="radio" id="mil2" name="rel" value="천주교">
							  <label for="ki">천주교</label>
							  <input type="radio" id="mil3" name="rel" value="불교">
							  <label for="mp">불교</label>	        					
							  <input type="radio" id="mil4" name="rel" value="무교">
							  <label for="mp">무교</label><br>
							  <div style="height:5px"></div>	        					
							  <input type="radio" id="mil4" name="rel" value="종교 기타">
							  <label for="hd">기타</label>	        					
	        				</form>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	        <div id="main" >
	        	<div class="main_table_row">
	        		<div class="main_table_row_colored">
	        			방문목적
	        		</div>
	        		<div class="main_table_row_uncolored">
	        			<div class="main_table_row_uncolored_q">
	        				<img src="./image/q.png" alt="Q" width="30">상담을 신청하는 목적은 무엇입니까?
	        			</div>
	        			<form class="main_table_row_uncolored_form">
	        				<div class="checkbox_wrapper">
		        				<input type="checkbox" id="personal" name="purpose" value="개인상담">
		        				<label for="personal">개인상담</label>
		        			</div>
		        			<div class="checkbox_wrapper">
		        				<input type="checkbox" id="psy" name="purpose" value="심리검사 & 심리검사 해석상담">
		        				<label for="psy">심리검사 & 심리검사 해석상담</label>
		        			</div>
		        			<div class="checkbox_wrapper">
		        				<input type="checkbox" id="group" name="purpose" value="집단상담">
		        				<label for="group">집단상담</label>
		        			</div>
		        			<div class="checkbox_wrapper">	
		        				<input type="checkbox" id="sexual" name="purpose" value="성희롱고충상담">
		        				<label for="sexual">성희롱고충상담</label>
		        			</div>
		        			<div class="checkbox_wrapper">
		        				<input type="checkbox" id="purpose_etc_check" name="purpose" value="방문목적 기타">
		        				<label for="etc">기타</label>
		        			</div>
	        			</form>
	        			<div class="etc_one_row_container">
	        				<input type="text" class="etc" id="purposeEtc" name="purposeEtc" placeholder="  기타 사항을 적어 주세요.">
	        			</div>
	        		</div>
	        	</div>
	        	<div class="main_table_row">
	        		<div class="main_table_row_colored">
	        			방문경로
	        		</div>
	        		<div class="main_table_row_uncolored">
	        			<div class="main_table_row_uncolored_q">
	        				<img src="./image/q.png" alt="Q" width="30">상담을 신청하게 된 경로는 무엇입니까?
	        			</div>
	        			<form class="main_table_row_uncolored_form">
	        				<div class="checkbox_wrapper">
		        				<input type="checkbox" id="self" name="route" value="자진">
		        				<label for="self">자진</label>
		        			</div>
		        			<div class="checkbox_wrapper">
		        				<input type="checkbox" id="prf" name="route" value="교수님추천">
		        				<label for="prf">교수님추천</label>
		        			</div>
		        			<div class="checkbox_wrapper">
		        				<input type="checkbox" id="friend" name="route" value="친구,선배 추천">
		        				<label for="friend">친구,선배 추천</label>
		        			</div>
		        			<div class="checkbox_wrapper">	
		        				<input type="checkbox" id="cslcenter" name="route" value="상담센터 홈페이지">
		        				<label for="cslcenter">상담센터 홈페이지</label>
		        			</div>
		        			<div class="checkbox_wrapper">
		        				<input type="checkbox" id="route_etc_check" name="route" value="방문경로 기타">
		        				<label for="etc">기타</label>
		        			</div>
	        			</form>
	        			<div class="etc_one_row_container">
	        				<input type="text" class="etc" id="routeEtc" name="routeEtc" placeholder="  기타 사항을 적어 주세요.">
	        			</div>
	        		</div>
	        	</div>
	        	<div class="main_table_row">
	        		<div class="main_table_row_colored">
	        			상담경험
	        		</div>
	        		<div class="main_table_row_uncolored">
	        			<div class="main_table_row_uncolored_q">
	        				<img src="./image/q.png" alt="Q" width="30">전에 심리상담(심리치료) 또는 심리검사를 받은 적이 있습니까?
	        			</div>
	        			<form class="main_table_row_uncolored_form">
	        				<input type="radio" id="expyes" name="exp" value="예">
	        				<span style="margin-right: 8px;"></span> <!-- 공간 추가 -->
						  	<label for="hy">예</label>
						  	<span style="margin-right: 24px;"></span> <!-- 공간 추가 -->
	        				<input type="radio" id="expno" name="exp" value="아니오">
	        				<span style="margin-right: 8px;"></span> <!-- 공간 추가 -->
	        				<label for="prf">아니오</label>
	        			</form>
	        			<div class="main_table_row_uncolored_q">
	        				<img src="./image/q.png" alt="Q" width="30">심리검사를 받아 보신적이 있다면 아래 내용을 입력해 주세요.
	        			</div>
	        			<div id="etc_two_rows_container">
	        				<div class="etc_two_rows_container_each">
	        					<input type="text" id="expDate" name="expDate" placeholder="  상담을 받아보신 날짜를 입력해 주세요.">
	        				</div>
	        				<div class="etc_two_rows_container_each">
	        					<input type="text" id="expLoc" name="expLoc" placeholder="  상담을 받아보신 장소를 입력해 주세요.">
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="main_table_row">
	        		<div class="main_table_row_colored">
	        			심리검사 종류
	        		</div>
	        		<div class="main_table_row_uncolored">
	        			<div class="main_table_row_uncolored_q">
	        				<img src="./image/q.png" alt="Q" width="30">심리검사를 위해 방문했다면 받고 싶은 검사는 무엇입니까?
	        			</div>
	        			<form class="main_table_row_uncolored_form2">
	        				<div class="main_table_row_uncolored_form_div">
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest1" name="psytest" value="MMPI-2(다면적인성검사)">
			        				<label for="psytest1">MMPI-2(다면적인성검사)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest2" name="psytest" value="MMPI-2-RF">
			        				<label for="psytest2">MMPI-2-RF</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest3" name="psytest" value="SCT(문장완성검사)">
			        				<label for="psytest3">SCT(문장완성검사)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest4" name="psytest" value="TCI(기질 및 성격검사)">
			        				<label for="psytest4">TCI(기질 및 성격검사)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest5" name="psytest" value="MBTI">
			        				<label for="psytest5">MBTI</label>
			        			</div>
			        		</div>	
	        				<div class="main_table_row_uncolored_form_div">
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest6" name="psytest" value="CST(강점탐색검사)">
			        				<label for="psytest6">CST(강점탐색검사)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest7" name="psytest" value="BFI(성격5요인검사)">
			        				<label for="psytest7">BFI(성격5요인검사)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest8" name="psytest" value="K-BASC-2(정서행동평가)">
			        				<label for="psytest8">K-BASC-2(정서행동평가)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest9" name="psytest" value="HTP">
			        				<label for="psytest9">HTP</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest10" name="psytest" value="KFD">
			        				<label for="psytest10">KFD</label>
			        			</div>
			        		</div>	
	        				<div class="main_table_row_uncolored_form_div">
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest11" name="psytest" value="IESS(통합스트레스검사)">
			        				<label for="psytest11">IESS(통합스트레스검사)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest12" name="psytest" value="K-IIP(대인관계관검사)">
			        				<label for="psytest12">K-IIP(대인관계관검사)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest13" name="psytest" value="FCPI(유학생심리건강검사)">
			        				<label for="psytest13">FCPI(유학생심리건강검사)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest14" name="psytest" value="스트레스 측정기">
			        				<label for="psytest14">스트레스 측정기</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="psytest15" name="psytest" value="심리검사 종류 기타">
			        				<label for="psytest15">기타</label>
			        			</div>
			        		</div>	
	        			</form>
	        			<div class="etc_one_row_container">
	        				<input type="text" class="etc" id="psyTestEtc" name="psyTestEtc" placeholder="  기타 사항을 적어 주세요.">
	        			</div>
	        		</div>
	        	</div>	        	
	        	<div class="main_table_row">
	        		<div class="main_table_row_colored">
	        			개인 상담문제
	        		</div>
	        		<div class="main_table_row_uncolored">
	        			<div class="main_table_row_uncolored_q">
	        				<img src="./image/q.png" alt="Q" width="30">개인 상담을 받는다면 어떤 문제를 상담 받기 원하십니까?
	        			</div>
	        			<form class="main_table_row_uncolored_form2">
	        				<div class="main_table_row_uncolored_form_div">
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="personalSubject1" name="personalSubject" value="학교생활 적응문제">
			        				<label for="personalSubject1">학교생활 적응문제</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="personalSubject2" name="personalSubject" value="대인관계문제">
			        				<label for="personalSubject2">대인관계문제</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="personalSubject3" name="personalSubject" value="정서적문제 (우울,불안,자살충동 등)">
			        				<label for="personalSubject3">정서적문제 (우울,불안,자살충동 등)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="personalSubject4" name="personalSubject" value="가족문제">
			        				<label for="personalSubject4">가족문제</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="personalSubject5" name="personalSubject" value="이성 및 성문제">
			        				<label for="personalSubject5">이성 및 성문제</label>
			        			</div>
			        		</div>	
	        				<div class="main_table_row_uncolored_form_div">
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="personalSubject6" name="personalSubject" value="성희롱, 성추행, 성폭력 관련 문제">
			        				<label for="personalSubject6">성희롱, 성추행, 성폭력 관련 문제</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="personalSubject7" name="personalSubject" value="개인 상담문제 기타">
			        				<label for="personalSubject7">기타</label>
			        			</div>
			        		</div>	
	        			</form>
	        			<div class="etc_one_row_container">
	        				<input type="text" class="etc" id="personalSubjectEtc" name="personalSubjectEtc" placeholder="  기타 사항을 적어 주세요.">
	        			</div>
	        		</div>
	        	</div>	        	
	        	<div class="main_table_row">
	        		<div class="main_table_row_colored">
	        			집단상담
	        		</div>
	        		<div class="main_table_row_uncolored">
	        			<div class="main_table_row_uncolored_q">
	        				<img src="./image/q.png" alt="Q" width="30">집단상담을 받고 싶다면 참가하고 싶은 집단은 무엇입니까? (접수면접자와 함께 집단상담소 스케줄을 확인하세요)
	        			</div>
	        			<form class="main_table_row_uncolored_form2">
	        				<div class="main_table_row_uncolored_form_div">
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="groupSubject1" name="groupSubject" value="통하였느냐? (대인관계 집단상담)">
			        				<label for="groupSubject1">통하였느냐? (대인관계 집단상담)</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="groupSubject2" name="groupSubject" value="자기이해 강점탐색 집단상담">
			        				<label for="groupSubject2">자기이해 강점탐색 집단상담</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="groupSubject3" name="groupSubject" value="발표불안감소 집단상담">
			        				<label for="groupSubject3">발표불안감소 집단상담</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="groupSubject4" name="groupSubject" value="미술치료 프로그램">
			        				<label for="groupSubject4">미술치료 프로그램</label>
			        			</div>
			        		</div>	
	        				<div class="main_table_row_uncolored_form_div">
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="groupSubject5" name="groupSubject" value="또래상담자 훈련">
			        				<label for="groupSubject5">또래상담자 훈련</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="groupSubject6" name="groupSubject" value="유학생 미술치료 프로그램">
			        				<label for="groupSubject6">유학생 미술치료 프로그램</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="groupSubject7" name="groupSubject" value="진로집단상담">
			        				<label for="groupSubject7">진로집단상담</label>
			        			</div>
		        				<div class="checkbox_wrapper">
			        				<input type="checkbox" id="groupSubject8" name="groupSubject" value="집단상담 기타">
			        				<label for="groupSubject8">기타</label>
			        			</div>
			        		</div>	
	        			</form>
	        			<div class="etc_one_row_container">
	        				<input type="text" class="etc" id="groupSubjectEtc" name="groupSubjectEtc" placeholder="  기타 사항을 적어 주세요.">
	        			</div>
	        		</div>
	        	</div>	        	
	        <div id="bottom1">
	        	<div id="bottom1_title">
	        		<p class="title_text">긴급연락처</p>
	        		<div id="bottom1_title_btn_container">
	        			<button id="bottom1_title_btn"><img src="./image/plus.png" alt="+" >행추가</button>
	        		</div>
	        	</div>
	        	<div id="bottom1_table">
	        		<table id="bottom1_table_head">
					<tr>
					    <th style="width: 10%;">번호</th>
					    <th style="width: 20%;">이름</th>
					    <th style="width: 15%;">관계</th>
					    <th style="width: 20%;">전화번호</th>
					    <th style="width: 25%;">비고</th>
					    <th style="width: 10%;">삭제</th>
					</tr>
	        		</table>
	        		<div id="bottom1_table_body">
	        		</div>
	        	</div>
	        </div>
	        <div id="bottom2">
	        	<div id="bottom2_title_container">
	        		<p class="title_text">상담가능 시간</p>
	        		<div id="bottom2_title_right">
	        			<div id="bottom2_title_right_top">
	        				(상담이 가능한 시간에 모두 Check해 주세요.)
	        			</div>
	        			<div id="bottom2_title_right_bottom">
	        				※ 상담 대기자가 있을 경우, 기존에 상담을 받지 않은 신청자 우선으로 상담이 배정됩니다.
	        			</div>
	        		</div>
	        	</div>
	        	<div id="bottom2_table">
	        		<div id="bottom2_table_row1" class="bottom2_table_row">
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">시간</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">월</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">화</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">수</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">목</div>
	        			<div class="bottom2_table_row_ele">금</div>
	        		</div>
	        		<div class="bottom2_table_row">
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">9:00 ~ 9:50</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
	        			</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
        				</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        		</div>
	        		<div class="bottom2_table_row">
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">10:00 ~ 10:50</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
	        			</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
        				</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        		</div>
	        		<div class="bottom2_table_row">
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">11:00 ~ 11:50</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
	        			</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
        				</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        		</div>
	        		<div class="bottom2_table_row">
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">13:00 ~ 13:50</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
	        			</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
        				</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        		</div>
	        		<div class="bottom2_table_row">
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">14:00 ~ 14:50</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
	        			</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
        				</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        		</div>
	        		<div class="bottom2_table_row">
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">15:00 ~ 15:50</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
	        			</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
        				</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        		</div>
	        		<div class="bottom2_table_row">
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">16:00 ~ 16:50</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
	        			</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
        				</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        		</div>
	        		<div class="bottom2_table_row">
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">17:00 ~ 17:50</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
	        			</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
	        				<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
        				</div>
	        			<div class="bottom2_table_row_ele" id="bottom2_table_row_right_line">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        			<div class="bottom2_table_row_ele">
							<img class="check_icon" id="check_icon" src="./image/unchecked.png" alt="unchecked" >
						</div>
	        		</div>
	        	</div>
	        </div>
	        <div id="bottom3">
	        	<div id="cancel_container">
	        		<button id="cancel" class="bottom3_button">취소</button>
	        	</div>
	        	<div id="next-page-button-container">
	        		<button id="next-page-button" class="bottom3_button">다음 단계로 이동 </button>
	        	</div>	        	
	        </div>
        </div>
      </div>
    </section>
  </main>
  
 <script>
 
	document.getElementById('bottom1_title_btn').addEventListener('click', function() {
	    addTableRow();
	});
	

	// 테이블에 새로운 행을 추가하는 함수
	function addTableRow() {
	    let tableBody = document.getElementById("bottom1_table_body");
	    let newRow = document.createElement("div"); // 새로운 div 엘리먼트 생성
	    newRow.className = "bottom1_table_row"; // 클래스 지정

	    let newNo = document.createElement("div");
	    let newName = document.createElement("div");
	    let newRel = document.createElement("div");
	    let newTel = document.createElement("div");
	    let newNote = document.createElement("div");
	    let newDel = document.createElement("div");
	    
	    newNo.className = "bottom1_table_row_no line"; // 클래스 추가
	    newName.className = "bottom1_table_row_ele line"; // 클래스 추가
	    newRel.className = "bottom1_table_row_ele line"; // 클래스 추가
	    newTel.className = "bottom1_table_row_ele line"; // 클래스 추가
	    newNote.className = "bottom1_table_row_ele line"; // 클래스 추가
	    newDel.className = "bottom1_table_row_ele"; // 클래스 추가
	    
	    // 각 열의 내용 설정
	    let nameInput = document.createElement("input");
	    let relInput = document.createElement("input");
	    let telInput = document.createElement("input");
	    let noteInput = document.createElement("input");
	    let delBtn = document.createElement("button");
	    
	    nameInput.setAttribute("placeholder", "이름");
	    relInput.setAttribute("placeholder", " 관계");
	    telInput.setAttribute("placeholder", " 전화번호");
	    noteInput.setAttribute("placeholder", " 비고");
	    delBtn.textContent = "삭제";
	    
	    nameInput.setAttribute("name", "emerName");
	    relInput.setAttribute("name", "relation");
	    telInput.setAttribute("name", "emerTel");
	    noteInput.setAttribute("name", "emerNote");
	    
	    nameInput.className = "bottom1_table_row_ele_input";
	    relInput.className = "bottom1_table_row_ele_input";
	    telInput.className = "bottom1_table_row_ele_input";
	    noteInput.className = "bottom1_table_row_ele_input";
	    delBtn.className = "bottom1_table_row_ele_del";
	    
	    newName.appendChild(nameInput);
	    newRel.appendChild(relInput);
	    newTel.appendChild(telInput);
	    newNote.appendChild(noteInput);
	    newDel.appendChild(delBtn);
	    
	    
	    // 삭제 버튼 클릭 이벤트 추가
	    delBtn.addEventListener('click', function() {
	        tableBody.removeChild(newRow);
	        updateRowNumbers(); // 번호 업데이트
	    });	     
	    
	    // 각 열을 새로운 행에 추가
	    newRow.appendChild(newNo);
	    newRow.appendChild(newName);
	    newRow.appendChild(newRel);
	    newRow.appendChild(newTel);
	    newRow.appendChild(newNote);
	    newRow.appendChild(newDel);	  

	    // 새로운 행의 내용 설정
	    //newRow.innerHTML = "<div class='bottom1_table_row_ele'>새로운 데이터</div>";
	    
	    // 테이블 바디에 새로운 행 추가
	    tableBody.appendChild(newRow);
	    
	    // 번호 업데이트
	    updateRowNumbers();	    
	}
	
	// 모든 행의 번호를 업데이트하는 함수
	function updateRowNumbers() {
	    let tableBody = document.getElementById("bottom1_table_body");
	    let rows = tableBody.getElementsByClassName("bottom1_table_row");
	    console.log(rows);
	    let rowIndex = 1;
	    for (let i = 0; i < rows.length; i++) { // 헤더를 제외하고 시작
	        let noCell = rows[i].getElementsByClassName("bottom1_table_row_no")[0];
	        noCell.textContent = rowIndex;
	        rowIndex++;
	    }
	}	
      
 	// 이벤트 리스너를 추가할 이미지 클래스 선택
    let images = document.querySelectorAll('.check_icon');

    // 각 이미지에 클릭 이벤트 리스너 추가
    images.forEach(function(image) {
        image.addEventListener('click', changeImage);
    });
    
    let selectedData = []; // 선택한 데이터를 저장할 배열

 	// 클릭 이벤트가 발생했을 때 실행되는 함수
	function changeImage(event) {
	    let image = event.target; // 클릭된 이미지 요소를 가져옴
	    let dayIndex = Array.from(image.parentNode.parentNode.children).indexOf(image.parentNode) - 1; // 클릭된 이미지의 부모 요소(행)의 인덱스를 가져옴
	    let day; // 요일을 저장할 변수
	    
	    // 인덱스에 따라 요일을 결정
	    switch (dayIndex) {
	        case 0:
	            day = '월';
	            break;
	        case 1:
	            day = '화';
	            break;
	        case 2:
	            day = '수';
	            break;
	        case 3:
	            day = '목';
	            break;
	        case 4:
	            day = '금';
	            break;
	        default:
	            day = ''; // 예외 처리
	            break;
	    }
	    
	    //let time = image.parentNode.parentNode.firstChild.textContent; // 해당 이미지의 부모의 부모 요소(행)의 첫 번째 자식 요소(시간)를 가져옴
	    // 시간 요소를 가져오기
	    let timeElement = image.parentNode.parentNode.querySelector('.bottom2_table_row_ele:first-child');
	    let time = timeElement.textContent.trim(); // 시간을 가져옴

        // 이미지의 alt 속성을 확인하여 상태를 판별
        if (image.alt === 'unchecked') {
            // 체크되지 않은 상태인 경우, 체크된 이미지로 변경
            image.src = './image/checked.png';
            image.alt = 'checked';
            // 선택한 데이터를 배열에 추가
            selectedData.push({ 'day': day, 'time': time });            
        } else {
            // 체크된 상태인 경우, 체크되지 않은 이미지로 변경
            image.src = './image/unchecked.png';
            image.alt = 'unchecked';
            // 선택한 데이터를 배열에서 제거
            selectedData = selectedData.filter(function(item) {
                return !(item.day === day && item.time === time);
            });
        }
    }
    
	document.getElementById('next-page-button').addEventListener('click', function() {
	    collectFormData(selectedData);
	});
	
	

    // Function to collect form data
    function collectFormData(selectedData) {
    	const studentName = document.getElementById('student_name').textContent;
    	const studentNo = document.getElementById('student_no').textContent;
    	const studentBirth = document.getElementById('student_birth').textContent;
    	const studentcCd = document.getElementById('student_cCd').textContent;
    	const phoneNumber = document.getElementById('phoneNumberInput').value;
    	const email = document.getElementById('email').value;
    	const student_st = document.getElementById('student_st').textContent;
    	
    	let mil = document.querySelector('input[name="mil"]:checked');
    	let rel = document.querySelector('input[name="rel"]:checked');
    	
    	if(!mil) {
			alert("군목부를 선택해 주세요.");
			return;
    	} else if (!rel) {
			alert("종교를 입력해 주세요.");
			return;
    	}
    	
		mil = mil.value;
		rel = rel.value;
    	
   		
    	
    	
        // Create an object to hold form data
        const formData = {
            studentName,
            studentNo,
            studentBirth,
            studentcCd,
            student_st,
            mil,
            rel,
            phoneNumber,
            email,
        };	
    	
	    // Collect optional fields with fallback to null
   		if (document.getElementById('purposeEtc')) formData.purposeEtc = document.getElementById('purposeEtc').value;
   		if (document.getElementById('routeEtc')) formData.routeEtc = document.getElementById('routeEtc').value;
   		if (document.querySelector('input[name="exp"]:checked')) formData.exp = document.querySelector('input[name="exp"]:checked').value;
   		if (document.getElementById('expdate')) formData.expdate = document.getElementById('expdate').value;
   		if (document.getElementById('expLoc')) formData.expLoc = document.getElementById('expLoc').value;
   		if (document.getElementById('psyTestEtc')) formData.psyTestEtc = document.getElementById('psyTestEtc').value;
   		if (document.getElementById('personalSubjectEtc')) formData.personalSubjectEtc = document.getElementById('personalSubjectEtc').value;
   		if (document.getElementById('groupSubjectEtc')) formData.groupSubjectEtc = document.getElementById('groupSubjectEtc').value;
   		
     	// Collect selected checkboxes
    	const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
    	const selectedCheckboxes = Array.from(checkboxes).map(checkbox => checkbox.value);
    	if (selectedCheckboxes) formData.selectedCheckboxes = selectedCheckboxes;
   		
        // Collect emergency contact data
        const emergencyContactRows = document.querySelectorAll('.bottom1_table_row');
        const emergencyContacts = Array.from(emergencyContactRows).map(row => {
            return {
                emerName: row.querySelector('input[name="emerName"]') ? row.querySelector('input[name="emerName"]').value : null,
                relation: row.querySelector('input[name="relation"]') ? row.querySelector('input[name="relation"]').value : null,
                emerTel: row.querySelector('input[name="emerTel"]') ? row.querySelector('input[name="emerTel"]').value : null,
                emerNote: row.querySelector('input[name="emerNote"]') ? row.querySelector('input[name="emerNote"]').value : null
            };
        });
        if (selectedData) formData.reservation = selectedData;
        
        if (emergencyContacts) formData.emergencyContacts = emergencyContacts;
        
        // Send the data to the server
        fetch('/psycslapplysubmit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            // 서버 응답이 성공적일 때 수행할 동작을 여기에 작성합니다.
            // 서버에서 리다이렉트할 URL을 응답으로 보내면 그 URL을 사용하여 페이지 이동을 수행합니다.
            if (response.redirected) {
            	alert("신청이 완료되었습니다.");
                window.location.href = response.url; // 리다이렉트할 URL로 페이지 이동
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // 오류 처리
        });
        
    }
        
</script> 
  
</body>

  <footer id="footer">
    <div th:replace="../templates/fragments/footer"></div>
  </footer>

</html>