<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>중앙 - 심리 상담</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- jQuery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- SweetAlert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/psycho.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/psycsl.css" />
  
</head>

<body class="index-page">
	<header class="header">
		<div th:replace="../templates/fragments/header"></div>
	</header>
  
  <main class="psycho">
    <section id="psychoSection">
      <div class="container">
        <!-- Content here -->
        <div id="psy_csl_cont">
        	<div id="psy_csl_top">
	        	<div id="psy_csl_top_headline">심리상담 및 심리지원 프로그램 안내</div>
	        	<div id="underline"></div>
		        <div id="cslor-img-container">
		        	<img src="./image/psycsl.png" alt="상담사" width="300" >
		        </div>		        
		        <div id="psy_csl_top_info">
			        <p id="psy_csl_top_info_top"><span style="font-size: 26px"><span style="color: #0077b6">중앙 학생상담센터</span>는</span><br>
			        중앙인들의 건강하고 행복한 삶을 돕기 위해 개인 상담, 심리검사 실시 및 해석상담,<br>
			        집단상담, 특강 및 캠패인 등 다양한 심리지원 프로그램을 제공하고 있습니다.<br>
			        본 센터에서 제공하는 서비스는 모두 전문적인 자격을 갖춘 심리상담사들을 통해 이루어집니다.
			        </p>

			        <div class="csl_info_title"><span class="emp">개인상담</span>은 대학생활 적응, 대인관계, 성격문제, 정신건강 등을 주제로 한 1:1 맞춤형 프로그램입니다.</div>
			        <p class="csl_info_content">전문 상담사와의 상담을 통해 자신의 문제를 이해하고, 해결방안을 모색할 수 있습니다.
			        개인상담은 기본적으로 주 1회, 50분씩 진행되며,<br> 세부 일정은 당담 상담사와 협의하여 조정 가능합니다.</p>
			        <div class="csl_info_title"><span class="emp">심리검사</span>는 성격, 정신건강, 강점 등에 대한 심리검사를 실시하고, 검사결과에 대한 해석 상담을 진행하는 프로그램입니다.</div>
			        <p class="csl_info_content">심리검사 결과에 대한 전문 상담사의 해석상담을 통해 자신에 대한 이해를 높일 수 있습니다.</p>
			        <p class="csl_info_title"><span class="emp">집단상담</span>집단상담은 비슷한 주제에 관심 있는 사람들과 지속적인 집단활동을 통해, 그 주제에 대한 경험과 생각을 나누며 자신에 대한 이해를 높이고,<br>
			        고민 해결을 위한 다양한 대처방안을 모색할 수 있도록 돕습니다. 각 주제에 따른 활동들로 구성되며, 세부 일정은 학기 초 홈페이지,<br>
			        홍보지 등을 통해 공지됩니다.
			        </p>
			        <p >그 외에도 학생상담센터에서는 심리적 어려움을 예방하고 정신건강을 증진시키기 위한 특강과 캠페인 등을 실시합니다.<br>
					본 센터 프로그램의 이용을 위해 아래의 항목들에 동의해주십시오.
			        </p>
		        </div>
        	</div>
        	<div id="psy_csl_bottom">
        		<p class="psy_csl_bottom_title">비밀보장에 관한 동의<span style="color: red">(필수)</span></p>
        		<div class="psy_csl_bottom_info">
        			<div class="psy_csl_bottom_info_main" >
        				<p>
        					본 센터에서 이루어지는 모든 상담활동은 상담자 윤리강령에 근거하여 비밀보장을 약속합니다.<br>
        					또한 동의 없이 타인이나 센터 외부로 기록들이 공개되지 않습니다.<br>
        					그러나 아래의 경우에는, 관련 의무규정상 가족이나 제 삼자에게 공개될 수 있습니다.<br><br>
        					1. 최근에 아동학대 혹은 성인학대 피해자나 가해자로 여겨질 만한 근거가 있는 경우<br>
        					2. 자살의 위험이 있다고 판단되는 경우<br>
        					3. 타인에게 심각한 위해를 가할 가능성이 있는 경우<br>
        					4. 법정에서 증언을 위해 기록 공개를 상담사에게 요청하는 경우<br>
        				</p>
        				<div id="psy_csl_bottom_info_qa">비밀보장과 관련하여 위의 내용이나 다른 사항들에 대한 질문이 있다면 센터로 문의하시기 바랍니다.</div>
        			</div>
        			<div class="psy_csl_bottom_info_bottom">
        				<input type="checkbox" id="secret_checkbox" name="secret_checkbox">
        				<label for="secret_checkbox">비밀보장에 관한 동의에 동의합니다.</label>
        			</div>
        		</div>
        		<p class="psy_csl_bottom_title">개인정보 수집· 이용에 대한 동의<span style="color: red">(필수)</span></p>
        		<div class = "psy_csl_bottom_info">
        			<div class="psy_csl_bottom_info_main">
        				<div class="psy_csl_bottom_info_main_table">
	       					<div class="psy_csl_bottom_info_main_table_row">
	        					<div class="psy_csl_bottom_info_main_table_left">
	        						수집· 이용하는<br> 개인정보 항목
	        					</div>
	        					<div class="psy_csl_bottom_info_main_table_right">
	        						- 성명, 생년월일, 나이, 성별, 학사정보, 주소, 이메일, 전화번호, 휴대폰번호
	        					</div>
	        				</div>
	       					<div class="psy_csl_bottom_info_main_table_row">
	        					<div class="psy_csl_bottom_info_main_table_left">
	        						수집 및 이용목적
	        					</div>
	        					<div class="psy_csl_bottom_info_main_table_right">
	        						- 본 센터 프로그램을 제공하기 위한 기초자료로 이용<br>
	        						- 본 센터 주최의 행사 및 프로그램 등을 위한 연락 및 안내<br>
	        						- 본 센터 주최의 행사 또는 프로그램 등의 안내<br>
	        						- 본 센터 이용 현황 파악을 위한 통계 분석<br>
	        					</div>
	        				</div>
	       					<div class="psy_csl_bottom_info_main_table_row">
	        					<div class="psy_csl_bottom_info_main_table_left">
	        						보유 및 이용기간
	        					</div>
	        					<div class="psy_csl_bottom_info_main_table_right">
	        						- 5년
	        					</div>
	        				</div>
        				</div>
        				<div class="psy_csl_bottom_info_main_guide">
        					귀하는 이에 대한 동의를 거부할 수 있으며, 다만, 동의가 없을 경우 본 센터의 프로그램 진행 및 이용이 불가능할 수 있음을 알려드립니다.
        				</div>
        			</div>
       			</div>
       			<div class="psy_csl_bottom_info_bottom">
       				<input type="checkbox" class = checkbox id="personal_info_agree_checkbox" name="personal_info_agree_checkbox">
       				<label for="personal_info_agree_checkbox">개인정보 수집· 이용에 대한 동의에 동의합니다.</label>
       			</div>
        		<p class="psy_csl_bottom_title">민감정보 처리에 대한 동의<span style="color: red">(필수)</span></p>
        		<div class = "psy_csl_bottom_info">
        			<div class="psy_csl_bottom_info_main">
        				<div class="psy_csl_bottom_info_main_table">
	       					<div class="psy_csl_bottom_info_main_table_row">
	        					<div class="psy_csl_bottom_info_main_table_left">
	        						수집· 이용하는<br> 민감정보 항목
	        					</div>
	        					<div class="psy_csl_bottom_info_main_table_right">
	        						- 종교, 상담 및 심리검사 경험, 현재의 어려움, 비상연락처
	        					</div>
	        				</div>
	       					<div class="psy_csl_bottom_info_main_table_row">
	        					<div class="psy_csl_bottom_info_main_table_left">
	        						수집 및 이용목적
	        					</div>
	        					<div class="psy_csl_bottom_info_main_table_right">
	        						- 심리검사 실시 및 해석, 심리상담 진행
	        					</div>
	        				</div>
	       					<div class="psy_csl_bottom_info_main_table_row">
	        					<div class="psy_csl_bottom_info_main_table_left">
	        						보유 및 이용기간
	        					</div>
	        					<div class="psy_csl_bottom_info_main_table_right">
	        						- 5년
	        					</div>
	        				</div>
        				</div>
        				<div class="psy_csl_bottom_info_main_guide">
        					귀하는 이에 대한 동의를 거부할 수 있으며, 다만, 동의가 없을 경우 원활한 심리검사 및 심리상담의 진행이 불가능할 수 있음을 알려드립니다.
        				</div>        				
        			</div>        			
        		</div>
  				<div class="psy_csl_bottom_info_bottom" id="psy_csl_bottom_info_bottom_last">
       				<input type="checkbox" id="del_info_agree_checkbox" name="del_info_agree_checkbox">
       				<label for="del_info_agree_checkbox">민감정보 처리에 대한 동의에 동의합니다.</label> 
       			</div>
       			<p id="psy_csl_bottom_footer">※ 상담 대기자가 있을경우, 기존에 상담을 받지 않은 신청자 우선으로 상담이 배정됩니다.</p>
        	</div>
        	<div id="next-page-button-container">
        		<button id="next-page-button">다음 단계로 이동 </button>
        	</div>
        </div>
      </div>
    </section>
  </main>
  <script type="text/javascript">
  	document.getElementById("next-page-button").addEventListener("click", function() {	
  	    let checkbox1 = document.getElementById("secret_checkbox");
  	    let checkbox2 = document.getElementById("personal_info_agree_checkbox");
  	    let checkbox3 = document.getElementById("del_info_agree_checkbox");
  	    
        // 모든 체크 박스가 체크되었는지 확인
        if (checkbox1.checked && checkbox2.checked && checkbox3.checked) {
            // 다음 페이지로 이동
            window.location.href = "/psycslapply";
        } else if (checkbox1.checked && checkbox2.checked) {
        	alert("민감정보 처리에 동의해 주세요.");
        } else if (checkbox1.checked && checkbox3.checked) {
        	alert("개인정보 수집· 이용에 동의해 주세요.");
        } else if (checkbox2.checked && checkbox3.checked) {
        	alert("비밀보장에 관한 동의에 동의해 주세요.");
        } else if (checkbox1.checked) {
        	alert("개인정보 수집· 이용에 동의해 주세요.\n민감정보 처리에 동의해 주세요.");
        } else if (checkbox2.checked) {
        	alert("비밀보장에 관한 동의에 동의해 주세요.\n민감정보 처리에 동의해 주세요.");
        } else if (checkbox3.checked) {
        	alert("비밀보장에 관한 동의에 동의해 주세요.\n개인정보 수집· 이용에 동의해 주세요.");
        } else {
            // 체크 박스가 모두 체크되지 않았을 때 알림 메시지 표시
            alert("비밀보장에 관한 동의에 동의해 주세요.\n개인정보 수집· 이용에 동의해 주세요.\n민감정보 처리에 동의해 주세요.");
        }  	    
  	});
  
  </script>  
</body>

  <footer id="footer">
    <div th:replace="../templates/fragments/footer"></div>
  </footer>

</html>