<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>중앙 - 심리 상담 지원</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- jQuery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- SweetAlert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/ec.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/psycslapply.css" />  
</head>

<body class="index-page">
  <header  class="header">
    <div th:replace="../templates/fragments/header"></div>
  </header>
  
  <main class="ec">
    <section id="ecSection" class="">
      <div class="container">
        <!-- Content here -->
        <div id="main_container">
	        <div id="top">
	        	<p id="top_title">
	        		기본인적사항
	        	</p>
	        	<div id="top_table">
	        		<div class="table_row">
	        			<div class="table_row_colored">
	        				이름
	        			</div>
	        			<div class="table_row_uncolored" th:text=${student.name}>
	        			</div>
	        			<div class="table_row_colored2">
	        				학번
	        			</div>
	        			<div class="table_row_uncolored" th:text=${student.users.user_no}>
	        			</div>
	        		</div>
	        		<div class="table_row">
	        			<div class="table_row_colored">
	        				생년월일
	        			</div>
	        			<div class="table_row_uncolored" th:text=${student.birth}>
	        			</div>
	        			<div class="table_row_colored2">
	        				소속
	        			</div>
	        			<div class="table_row_uncolored" th:text=${student.cCd}>
	        			</div>
	        		</div>
	        		<div class="table_row">
	        			<div class="table_row_colored">
	        				<sapn style="color: red">* </sapn>연락처(H.P)
	        			</div>
	        			<div class="table_row_uncolored" >
					        <form id="phoneNumberForm">
					            <input type="text" id="phoneNumberInput" th:value="${student.telNo}">
					        </form>	        				
	        			</div>
	        			<div class="table_row_colored2">
	        				<sapn style="color: red">* </sapn>E-Mail
	        			</div>
	        			<div class="table_row_uncolored">
					        <form id="emailForm">
					            <input type="text" id="email" th:value="${student.users.email}">
					        </form>	        				
	        			</div>
	        		</div>
	        		<div class="table_row">
	        			<div class="table_row_colored">
	        				재학종류
	        			</div>
	        			<div class="table_row_uncolored" th:text=${student.st}>
	        			</div>
	        			<div class="table_row_colored2">
	        				휴학기간
	        			</div>
	        			<div class="table_row_uncolored">
	        				-
	        			</div>
	        		</div>
	        		<div class="table_row">
	        			<div class="table_row_colored">
	        				군 복무
	        			</div>
	        			<div class="table_row_uncolored" >
	        				<form id="milForm">
							  <input type="radio" id="mil1" name="hy" value="현역">
							  <label for="hy">현역</label>
							  <input type="radio" id="mil2" name="ki" value="공익">
							  <label for="ki">공익</label>
							  <input type="radio" id="mil3" name="mp" value="미필">
							  <label for="mp">미필</label>	        					
							  <input type="radio" id="mil4" name="mj" value="면제">
							  <label for="mp">면제</label>	        					
							  <input type="radio" id="mil4" name="hd" value="해당없음">
							  <label for="hd">해당없음</label>	        					
	        				</form>
	        			</div>
	        			<div class="table_row_colored2">
	        				종교
	        			</div>
	        			<div class="table_row_uncolored">
	        				<form id="relForm">
							  <input type="radio" id="mil1" name="hy" value="기독교">
							  <label for="hy">기독교</label>
							  <input type="radio" id="mil2" name="ki" value="천주교">
							  <label for="ki">천주교</label>
							  <input type="radio" id="mil3" name="mp" value="불교">
							  <label for="mp">불교</label>	        					
							  <input type="radio" id="mil4" name="mj" value="무교">
							  <label for="mp">무교</label>	        					
							  <input type="radio" id="mil4" name="hd" value="기타">
							  <label for="hd">기타</label>	        					
	        				</form>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	        <div id="main" >
	        </div>
	        <div id="bottom1">
	        </div>
	        <div id="bottom2">
	        </div>
        </div>
      </div>
    </section>
  </main>
</body>

  <footer id="footer">
    <div th:replace="../templates/fragments/footer"></div>
  </footer>

</html>