<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>중앙 - 심리 상담</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- jQuery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- SweetAlert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/psycho.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/psycsl.css" />
</head>

<body class="index-page">
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div th:replace="../templates/fragments/header"></div>
  </header>
  
  <main class="psycho">
    <section id="psychoSection">
      <div class="container">
        <!-- Content here -->
        <div id="psy_csl_cont">
        	<div id="psy_csl_top" style="border: 1px solid red; position: relative">
		        <div>
		        	<h3>심리상담 및 심리지원 프로그램 안내</h3>
		        </div>
		        <div id="psy_csl_top_info">
			        <p><span style="font-weight: bold; font-size: 28px"><span style="color: #0077b6">중앙 학생상담센터</span>는</span><br>
			        중앙인들의 건강하고 행복한 삶을 돕기 위해 개인 상담, 심리검사 실시 및 해석상담,<br>
			        집단상담, 특강 및 캠패인 등 다양한 심리지원 프로그램을 제공하고 있습니다.<br>
			        본 센터에서 제공하는 서비스는 모두 전문적인 자격을 갖춘 심리상담사들을 통해 이루어집니다.
			        </p>
			        <div id="cslor-img-container">
			        	<img src="./image/psycsl.png" alt="상담사" width="270" >
			        </div>
			        <p class="csl_info_title"><span class="emp">개인상담</span>은 대학생활 적응, 대인관계, 성격문제, 정신건강 등을 주제로 한 1:1 맞춤형 프로그램입니다.</p>
			        <p class="csl_info_content">전문 상담사와의 상담을 통해 자신의 문제를 이해하고, 해결방안을 모색할 수 있습니다.
			        개인상담은 기본적으로 주 1회, 50분씩 진행되며,<br> 세부 일정은 당담 상담사와 협의하여 조정 가능합니다.</p>
			        <p class="csl_info_title"><span class="emp">심리검사</span>는 성격, 정신건강, 강점 등에 대한 심리검사를 실시하고, 검사결과에 대한 해석 상담을 진행하는 프로그램입니다.</p>
			        <p class="csl_info_content">심리검사 결과에 대한 전문 상담사의 해석상담을 통해 자신에 대한 이해를 높일 수 있습니다.</p> 
		        </div>
        	</div>
        	<div id="psy_csl_bottom">
        	</div>
	        
        </div>
      </div>
    </section>
  </main>
  
</body>

  <footer id="footer">
    <div th:replace="../templates/fragments/footer"></div>
  </footer>

</html>