<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Team4.web.mapper.GroupMapper">
	<select id="getgcList" resultType="Map">
	    SELECT 
	        G.PRGRM_CD, 
	        G.GC_OG_NM, 
	        G.USER_NO, 
	        G.NOPE, 
	        DATE_FORMAT(G.SCHDL_BGNG_YMD, '%Y-%m-%d %H시') AS SCHDL_BGNG_YMD, 
	        DATE_FORMAT(G.SCHDL_END_YMD, '%Y-%m-%d %H시') AS SCHDL_END_YMD,  
	        DATE_FORMAT(G.GC_DT, '%Y-%m-%d %H시') AS GC_DT, 
	        G.PRGRM_NM, 
	        G.PRGRM_TYPE, 
	        G.GC_CONTS_CN,
	        G.GC_DTL_CN,
	        COALESCE(APPLY_CNT.COUNT, 0) AS APPLY_CNT
	    FROM 
	        GC_PROGRAM G 
	    LEFT JOIN (
	        SELECT PRGRM_CD, COUNT(*) AS COUNT
	        FROM PRGRM_APP
	        GROUP BY PRGRM_CD
	    ) APPLY_CNT ON G.PRGRM_CD = APPLY_CNT.PRGRM_CD;
	</select>
	
	<select id="getgcListWithSearch" resultType="Map" parameterType="Map">
	    SELECT 
	        G.PRGRM_CD, 
	        G.GC_OG_NM, 
	        G.USER_NO, 
	        G.NOPE, 
	        DATE_FORMAT(G.SCHDL_BGNG_YMD, '%Y-%m-%d %H시') AS SCHDL_BGNG_YMD, 
	        DATE_FORMAT(G.SCHDL_END_YMD, '%Y-%m-%d %H시') AS SCHDL_END_YMD,  
	        DATE_FORMAT(G.GC_DT, '%Y-%m-%d %H시') AS GC_DT, 
	        G.PRGRM_NM, 
	        G.PRGRM_TYPE, 
	        G.GC_CONTS_CN,
	        G.GC_DTL_CN,
	        COALESCE(APPLY_CNT.COUNT, 0) AS APPLY_CNT
	    FROM 
	        GC_PROGRAM G 
	    LEFT JOIN (
	        SELECT PRGRM_CD, COUNT(*) AS COUNT
	        FROM PRGRM_APP
	        GROUP BY PRGRM_CD
	    ) APPLY_CNT ON G.PRGRM_CD = APPLY_CNT.PRGRM_CD
	    WHERE 
	        G.PRGRM_NM LIKE CONCAT('%', #{searchWord}, '%')
	        <choose>
	            <when test="category != null and category != ''">
	                <if test="category == '001'">
	                    AND #{nowDate} BETWEEN G.SCHDL_BGNG_YMD AND G.SCHDL_END_YMD
	                </if>
	                <if test="category == '002'">
	                    AND DATE_FORMAT(G.SCHDL_BGNG_YMD, '%d') = #{dayOfMonth}
	                </if>
	                <if test="category == '003'">
	                    AND G.SCHDL_BGNG_YMD BETWEEN #{nowDate} AND #{sevenDaysLater}
	                </if>
	                <if test="category == '004'">
	                    AND DATE_FORMAT(G.SCHDL_END_YMD, '%Y-%m-%d') = #{today}
	                </if>
	                <if test="category == '005'">
	                    AND G.SCHDL_END_YMD BETWEEN #{nowDate} AND #{sevenDaysLater}
	                </if>
	                <if test="category == '006'">
	                    AND G.SCHDL_END_YMD &lt; #{nowDate}
	                </if>
	            </when>
	        </choose>
	</select>
    
    <select id="testlist" resultType="Map">
	    SELECT 
	        #{nowDate} AS nowDate,
	        #{sevenDaysLater} AS sevenDaysLater,
	        #{dayOfMonth} AS dayOfMonth
	</select>
    
	<select id="getproDetail" resultType="Map" parameterType="int">
	    SELECT 
	        G.PRGRM_CD, 
	        G.GC_OG_NM, 
	        G.USER_NO, 
	        G.NOPE, 
	        DATE_FORMAT(G.SCHDL_BGNG_YMD, '%Y-%m-%d %H시') AS SCHDL_BGNG_YMD, 
	        DATE_FORMAT(G.SCHDL_END_YMD, '%Y-%m-%d %H시') AS SCHDL_END_YMD,  
	        DATE_FORMAT(G.GC_DT, '%Y-%m-%d %H시') AS GC_DT, 
	        G.PRGRM_NM, 
	        G.PRGRM_TYPE, 
	        G.GC_CONTS_CN,
	        G.GC_DTL_CN,
	        COALESCE(APPLY_CNT.COUNT, 0) AS APPLY_CNT
	    FROM 
	        GC_PROGRAM G 
	    LEFT JOIN (
	        SELECT PRGRM_CD, COUNT(*) AS COUNT
	        FROM PRGRM_APP
	        GROUP BY PRGRM_CD
	    ) APPLY_CNT ON G.PRGRM_CD = APPLY_CNT.PRGRM_CD
	    WHERE G.PRGRM_CD = #{procd};
	</select>
    
	<insert id="insertApply" parameterType="Map">
	    INSERT INTO PRGRM_APP (STUD_NO, PRGRM_CD, RSVT_YMD) VALUES (
	        #{studNumber},
	        #{proCode},
	        NOW()
	    )
	</insert>
	
	<select id="getProgramDates" parameterType="String" resultType="Map">
	    SELECT SCHDL_BGNG_YMD, SCHDL_END_YMD FROM GC_PROGRAM 
	    WHERE PRGRM_CD = #{proCode}
	</select>
	
	<select id="checkDuplicate" resultType="int" parameterType="Map">
		SELECT COUNT(*) FROM PRGRM_APP 
		WHERE STUD_NO = #{studNumber} 
		AND PRGRM_CD = #{proCode}
	</select>
	
	<delete id="deleteApply" parameterType="Map">
		DELETE FROM PRGRM_APP 
		WHERE STUD_NO = #{studNumber} 
		AND PRGRM_CD = #{proCode}
	</delete>
	
	<select id="getProgramCancelDate" parameterType="String" resultType="Map">
	    SELECT GC_DT FROM GC_PROGRAM
	    WHERE PRGRM_CD = #{proCode}
	</select>
</mapper>