<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoginMapper">

   	<select id="check" resultType="int" parameterType="map">
    	SELECT COUNT(*) FROM USERS WHERE user_no = #{userNo} AND pw = #{pw}
	</select>
	
<select id="getName" resultType="map" parameterType="String">
    SELECT s.stud_nm, s.stud_no 
    FROM STUD_INFO s 
    JOIN USERS u ON s.stud_no = u.user_no  
    WHERE u.user_no = #{userNo}
</select>
 
</mapper>