<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoginMapper">

	<select id="check" resultType="int" parameterType="map">
		SELECT
		COUNT(*) FROM USERS WHERE user_no = #{userNo} AND pw = #{pw}
	</select>

	<select id="getName" resultType="map" parameterType="String">
		SELECT s.stud_no, s.stud_nm, s.real_stud_no, u.email, s.mbr_telno, d.C_NMK, s.ST
		FROM STUD_INFO s
		JOIN USERS u ON s.stud_no = u.user_no
		JOIN DEPT_CD d ON s.c_cd = d.c_cd
		WHERE u.user_no = #{userNo}
	</select>
	<select id="getInfoPro" resultType="map" parameterType="String">
		SELECT s.PF_TELNO, s.PF_CS_PART, s.PF_CS_PART_DETAIL, s.PF_PLC_NM, s.C_CD, s.PF_SC_PART,s.PF_NO
		FROM PROFESSER s
		JOIN USERS u ON s.PF_NO = u.user_no
		WHERE u.user_no = #{userNo}
	</select>
		<select id="getInfoCounselor" resultType="map" parameterType="String">
		SELECT s.CSL_DETAIL, s.C_CD, s.USER_NO, s.CAREER, s.CSLOR_NM, s.TEL_NO, s.CSL_LOC,
		s.NON_FACE, s.ONLINE, s.CHAT, s.ISRT_TIME, s.ISRT_IP, s.UPT_TIME, s.UDP_IP, s.DEL, s.DEL_IP
		FROM COUNSELOR s
		JOIN USERS u ON s.USER_NO = u.user_no
		WHERE u.user_no = #{userNo}
	</select>
</mapper>