<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mymapper">
	<select id="myStud" resultType="int" parameterType="int">
		SELECT
		SUM(count) AS total_count
		FROM (
		SELECT COUNT(*) AS count
		FROM CSL_BOARD
		WHERE SUBSTRING(STUD_NO, 1, 2) = #{secd}

		UNION ALL

		SELECT COUNT(*) AS
		count
		FROM PRGRM_APP
		WHERE SUBSTRING(STUD_NO, 1, 2) = #{secd}

		UNION ALL

		SELECT COUNT(*) AS count
		FROM PROFESSER_CONSULTATION
		WHERE
		SUBSTRING(STUD_NO, 1, 2) = #{secd}

		UNION ALL

		SELECT COUNT(*) AS count
		FROM CSL_APPLY
		WHERE SUBSTRING(STUD_NO, 1, 2) = #{secd}
		) AS cc;
	</select>

	<update id="updatePrivacy" parameterType="map">
		UPDATE STUD_INFO AS si
		INNER JOIN USERS AS u ON si.stud_no = u.user_no
		SET si.MBR_TELNO =
		#{phoneNumber},
		u.email = #{email}
		WHERE si.stud_no = #{studNo}
	</update>

	<select id="getCounselBoard" parameterType="map"
		resultType="map">
		<choose>
			<when test="category == 1">
					SELECT DATE_FORMAT(p.RSVT_YMD, '%Y-%m-%d') AS CSL_DATE, p.STUD_NO, p.ATND_YN AS CSL_STATUS,
				g.GC_OG_NM AS CSL_CATEGORY
				FROM PRGRM_APP p
				JOIN GC_PROGRAM g ON p.PRGRM_CD = g.PRGRM_CD
				WHERE stud_no = #{userNo}
			</when>
			<when test="category == 2">
				SELECT *
				FROM CSL_APPLY
				WHERE stud_no = #{userNo}
			</when>
			<when test="category == 3">
				SELECT *
				FROM CSL_APPLY
				WHERE stud_no = #{userNo}
			</when>
			<when test="category == 4">
				SELECT *
				FROM CSL_APPLY
				WHERE stud_no = #{userNo}
			</when>
			<when test="category == 5">
				SELECT *
				FROM PROFESSER_CONSULTATION
				WHERE stud_no = #{userNo}
			</when>
			<otherwise>
				SELECT p.RSVT_YMD AS CSL_DATE, p.STUD_NO, p.ATND_YN AS CSL_STATUS,
				g.GC_OG_NM AS CSL_CATEGORY
				FROM PRGRM_APP p
				JOIN GC_PROGRAM g ON p.PRGRM_CD = g.PRGRM_CD
				WHERE stud_no = #{userNo}
			</otherwise>
		</choose>
	</select>
	<select id="getStudInfo" parameterType="String" resultType="map">
		SELECT s.STUD_NO, s.REAL_STUD_NO, s.C_CD, s.GEN_CD, s.STUD_NM,
		s.REAL_STUD_NO,
		s.BIRTHDAY, s.ST, s.MBR_TELNO, u.USER_NO, u.email
		FROM
		STUD_INFO s
		JOIN
		USERS u ON u.USER_NO = s.STUD_NO
		WHERE s.STUD_NO =
		#{userNo}
	</select>
	<select id="checkPw" parameterType="String" resultType="Boolean">
		SELECT
		COUNT(*) > 0
		FROM USERS s
		WHERE s.USER_NO = #{userNo} AND s.pw =
		#{password}
	</select>
	<update id="updatePw" parameterType="map">
		UPDATE USERS SET pw =
		SHA2(#{password}, 256) WHERE user_no = #{userNo}
	</update>

</mapper>
