<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>문의 상담 페이지</title>
<link href="assets/css/main.css" rel="stylesheet">
<link href="assets/css/myPage.css" rel="stylesheet">
<link href="css/inquiry.css" rel="stylesheet">
</head>
<body onload="showInquiryForm()">
	<h2>1:1 문의 하기</h2>
	<img id="myImg" src="/image/ono.jpg">
	<div class="guide_wrap">
		<ul>
			<li class="first">접수가 완료 되면 접수 대기 상태가 되며, 상담 신청 완료시 마이페이지 -> 1:1
				문의 내역에서 확인 할 수 있습니다.</li>
		</ul>
	</div>
	<div id="inquiryForm">
    <form action="/receptioncomplete" method="post" onsubmit="return validateForm()">
        <input type="hidden" id="STUD_NO" name="STUD_NO" th:value="${studNo}"><br>
        <label for="studNoSpan"><strong>학번:</strong></label> 
        <span th:text="${studNo}" id="studNoSpan" style="font-size: 16px; font-weight: bold;"></span><br>

        <label for="counselingCategory"><strong>문의</strong></label> 
        <select id="counselingCategory" name="CSL_CATEGORY" onchange="showForm()">
            <option value="">문의 유형을 선택하세요</option>
            <option value="가입">가입 문의</option>
            <option value="탈퇴">탈퇴 문의</option>
            <option value="비밀번호 변경">비밀번호 변경 문의</option>
            <option value="홈페이지 오류">홈페이지 오류 문의</option>
            <option value="건의 사항">건의 사항 문의</option>
            <option value="상담 이용">상담 이용 문의</option>
            <option value="기타">기타</option>
        </select><br>
        <label for="CSL_TITLE"><strong>제목</strong></label><br>
        <input type="text" id="CSL_TITLE" name="CSL_TITLE" style="font-size: 18px;"><br>
        <label for="CSL_CONTENT"><strong>문의 내용</strong></label><br>
        <textarea id="CSL_CONTENT" name="CSL_CONTENT" rows="7" style="font-size: 18px;"></textarea>
        <br>
        <br>
        <input type="submit" value="보내기">
    </form>
    </div>
	<div>
		<button id="inquiryBtn" onclick="showInquiryForm()">문의 등록</button>
	</div>
	<script>
	function showInquiryForm() {
        // 학번 표시
        var studNo = document.getElementById("STUD_NO").value;
        document.getElementById("studNoSpan").textContent = studNo;
        // 폼 표시
        document.getElementById("inquiryForm").style.display = "block";
    }

		function validateForm() {
			var studNo = document.getElementById("STUD_NO").value;
			var email = document.getElementById("CSL_EMAIL").value;
			var category = document.getElementById("counselingCategory").value;
			var title = document.getElementById("CSL_TITLE").value;
			var content = document.getElementById("CSL_CONTENT").value;

			if (studNo == "" || email == "" || category == "" || title == ""
					|| content == "") {
				alert("필수 입력 필드를 작성하세요");
				return false;
			}
			return true;
		}
	</script>
</body>
</html>