<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세 정보</title>
</head>
<body>
    <h2>상세 정보</h2>
    <div>
        <p>제목: <span th:text="${inquiry.CSL_TITLE}"></span></p>
        <p>유형: <span th:text="${inquiry.CSL_CATEGORY}"></span></p>
        <p>내용: <span th:text="${inquiry.CSL_CONTENT}"></span></p>
        <p>작성일: <span th:text="${#dates.format(inquiry.CSL_DATE, 'yyyy-MM-dd')}"></span></p>
        <p>답변: <span th:text="${inquiry.CSL_ANSWER}"></span></p> <!-- 상담사가 작성한 답변 내용 추가 -->
    </div>
</body>
</html>