<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문의 내역</title>
    <link th:href="@{/css/inquiryhistory.css}" rel="stylesheet" />
</head>
<body>
    <div>
        <a href="/inquiry"><button>문의 등록</button></a>
        <a href="/inquiry/history"><button>문의 내역</button></a>
    </div>

    <div class="inquiry-history">
        <h2>문의 내역</h2>
        <table>
            <thead>
                <tr>  
                    <th>제목</th>               
                    <th>유형</th>                    
                    <th>내용</th>
                    <th>작성일</th>
                    <th>상태</th>
                </tr>
            </thead>
            <tbody>
                <!-- Thymeleaf를 사용하여 문의 내역을 동적으로 표시 -->
                <tr th:each="inquiry : ${inquiries}" th:onclick="'showDetail(\'' + ${inquiry.CSL_NO} + '\')'">
                    <td th:text="${inquiry.CSL_TITLE}"></td>
                    <td th:text="${ '[' + inquiry.CSL_CATEGORY + ']' }"></td>
                    <td th:text="${inquiry.CSL_CONTENT}"></td>
                    <td th:text="${#dates.format(inquiry.CSL_DATE, 'yyyy-MM-dd')}"></td>
                    <td th:text="${inquiry.CSL_STATUS == 1 ? '상담완료' : '접수중'}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <script th:inline="javascript">
        function showDetail(cslNo) {
            alert("상세 정보를 표시합니다" +  cslNo);
            var detailUrl = "/inquiry/detail/" +cslNo;
            window.location.href = detailUrl;
        }
    </script>

</body>
</html>