<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>중앙 - 상담 시스템</title>

<!-- CSS File -->
<link href="assets/css/main.css" rel="stylesheet">
<link href="assets/css/disability.css" rel="stylesheet">
<link href="css/modal.css" rel="stylesheet">
<!-- Bootstrap CSS -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<style>
#counselingOptions {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 50%;
	font-size: 16px;
}

.tui-grid-cell {
	font-size: 14px;
	/* 원하는 폰트 크기로 조정 */
	color: #333;
	/* 원하는 색상으로 조정 */
	text-align: center;
}

.custom-btn {
	padding: 1px 4px;
	font-size: 14px;
}

.custom-btn2 {
	padding: 1px 4px;
	font-size: 14px;
}

.custom-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#modalText {
	background-color: #f0f0f0; /* 또는 원하는 회색 코드 */
}
</style>
</head>

<body class="index-page">
	<main class="myCounLog">
		<section id="myCounLog">
			<div class="container">
				<h2>나의 상담 내역</h2>
				<img id="myImg" src="/image/마이페이지1.jpg">
				<div class="guide_wrap">
					<ul>
						<li class="first">예약대기 상태에서는 언제든지 상담을 취소할 수 있습니다.</li>
						<li class="middle">예약이 승인된 상담을 부득이하게 취소해야 할 경우, 상담자에게 따로 연락하여
							취소요청하시길 바랍니다.</li>
						<li class="last">집단 상담의 경우 집단 상담 메뉴에서 확인 하실 수 있습니다.</li>
					</ul>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<span class="me-3" style="font-weight: bold;">상담 종류 선택 :</span> <select
						id="counselingOptions" class="form-select"
						style="margin-top: 7px;">
						<option value="1">취업상담</option>
						<option value="2">성평등상담</option>
						<option value="3">장애상담</option>
						<option value="4">심리상담</option>
						<option value="5">지도교수</option>
						<option value="6">집단상담</option>
					</select>
				</div>
				<div id="grid2"></div>
			</div>
		</section>
	</main>

	<!-- Modal -->
	<div class="modal fade" id="customModal" tabindex="-1" role="dialog"
		aria-labelledby="customModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="customModalLabel">상세보기</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- 모달 내용 -->
					<p id="modalContent">모달 내용</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/tui-grid@4.19.0/dist/tui-grid.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/tui-grid@4.19.0/dist/tui-grid.min.css"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var grid2; // 전역 변수로 선언

		$(document).ready(function () {
		    var userNo = [[${session.userNo}]]; // 사용자 번호를 실제 값으로 설정
		    initializeCounLog(userNo);

		    $('#counselingOptions').change(function () {
		        var selectedOption = $(this).val();
		        fetchCounselingData(selectedOption, userNo);
		    });

		    $('#grid').hide();
		    $('#grid2').show();
		});

		function initializeCounLog(userNo) {
		    var selectedOption = $('#counselingOptions').val();

		    grid2 = new tui.Grid({
		        el: document.getElementById('grid2'),
		        pageOptions: {
		            useClient: true,
		            perPage: 10
		        },
		        scrollX: false,
		        scrollY: false,
		        columns: [{
		            header: '번호',
		            name: 'rowNum', // 표시될 인덱스 번호 컬럼
		            width: 110,
		            align: 'center',
		            sortable: true,
		            rowSpan: function(rowKey, colName, rowSpanMap) {
		                return rowKey === 0 ? 1 : 0;
		            }
		        }, {
		            header: '신청일',
		            name: 'CSL_DATE',
		            width: 210,
		            align: 'center',
		            sortable: true
		        }, {
		            header: '상담종류',
		            width: 260,
		            name: 'CSL_CATEGORY',
		            align: 'center',
		        }, {
		            header: '상태',
		            width: 150,
		            name: 'CSL_STATUS',
		            align: 'center',
		            sortable: true
		        }, {
		            header: '상세보기',
		            width: 160,
		            align: 'center',
		            renderer: {
		                type: CustomButtonRenderer,
		                options: {
		                    text: '조회하기',
		                    className: 'btn btn-primary custom-btn2',
		                    buttonType: 'view',
		                    onClick: handleViewDetails
		                }
		            }
		        }, {
		            header: '예약취소',
		            width: 200,
		            align: 'center',
		            renderer: {
		                type: CustomButtonRenderer,
		                options: {
		                    text: '예약취소',
		                    onClick: handleCancelReservation,
		                    className: 'btn btn-primary custom-btn',
		                    buttonType: 'cancel'
		                }
		            }
		        }]
		    });
		    fetchCounselingData(selectedOption, userNo);
		}

		function fetchCounselingData(option, userNo) {
		    $.ajax({
		        url: "/counselHistory/json",
		        type: "get",
		        data: {category: option, userNo: userNo},
		        dataType: "json",
		        contentType: "application/json; charset=UTF-8",
		        success: function (result) {
		            console.log("Success:", result);
		            console.log(result.counselHistory)
		            var counselHistory = result.counselHistory;
		            if (!Array.isArray(counselHistory)) {
		                console.error("Unexpected data format:", counselHistory);
		                return;
		            }
		            counselHistory.forEach((item, index) => {
		                item.CSL_NO_REAL = item.CSL_NO;
		                item.rowNum = index + 1;
		            });
		            grid2.resetData(counselHistory);
		            grid2.refreshLayout();
		        },
		        error: function (xhr, status, error) {
		            console.error('Error fetching counsel history data:', status, error);
		            console.log('Response:', xhr.responseText);
		            if (xhr.responseText) {
		                try {
		                    const jsonResponse = JSON.parse(xhr.responseText);
		                    console.log('Parsed JSON:', jsonResponse);
		                } catch (e) {
		                    console.error('Failed to parse JSON response:', e);
		                }
		            }
		        }
		    });
		}

		function CustomButtonRenderer(props) {
		    const container = document.createElement('div');
		    container.className = 'custom-btn';

		    const status = props.grid.getRow(props.rowKey).CSL_STATUS;
		    const buttonType = props.columnInfo.renderer.options.buttonType;
		    const selectedOption = document.getElementById('counselingOptions').value;
		    if (buttonType === 'cancel' && (status === '예약취소' || status === '상담완료') || selectedOption === '6') {
		        const span = document.createElement('span');
		        span.textContent = '-';
		        container.appendChild(span);
		    } else {
		        const button = document.createElement('button');
		        button.textContent = props.columnInfo.renderer.options.text;
		        button.className = props.columnInfo.renderer.options.className;
		        button.addEventListener('click', (event) => {
		            event.stopPropagation(); // 이벤트 전파를 중지하여 grid2의 click 이벤트가 호출되지 않도록 함
		            props.columnInfo.renderer.options.onClick(props);
		        });
		        container.appendChild(button);
		    }

		    this.el = container;
		}

		CustomButtonRenderer.prototype.getElement = function() {
		    return this.el;
		}

		function handleViewDetails(props) {
		    const rowKey = props.rowKey;
		    const rowData = props.grid.getRow(rowKey);
		    const cslNo = rowData.CSL_NO;
		    const selectedOption = document.getElementById('counselingOptions').value;
		    fetch('/selectDetail', {
		        method: 'POST',
		        headers: {
		            'Content-Type': 'application/json'
		        },
		        body: JSON.stringify({ cslNo: cslNo, selectedOption: selectedOption })
		    })
		    .then(response => {
		        if (!response.ok) {
		            throw new Error('Network response was not ok');
		        }
		        return response.json();
		    })
		    .then(data => {
		        const counselDetail = data.counselDetail[0];

		        document.getElementById('modalCate').textContent = counselDetail.CSL_CATEGORY;
		        document.getElementById('modalStudentName').textContent = counselDetail.STUD_NM;
		        document.getElementById('modalStudNo').textContent = counselDetail.REAL_STUD_NO;
		        document.getElementById('modalDeptName').textContent = counselDetail.C_NMK;
		        document.getElementById('modalStudentEmail').textContent = counselDetail.email;
		        document.getElementById('modalStudentTelNo').textContent = counselDetail.MBR_TELNO;
		        document.getElementById('modalDate').textContent = counselDetail.CSL_DATE;
		        document.getElementById('modalTime').textContent = counselDetail.CSL_TIME_CD;
		        document.getElementById('modalIsBook').textContent = counselDetail.CSL_STATUS;
		        document.getElementById('modalCslorName').textContent = counselDetail.CSLOR_NM;
		        document.getElementById('modalCslLoc').textContent = counselDetail.CSL_LOC;
		        document.getElementById('modalText').textContent = counselDetail.CSL_APL_DETAIL;

		        document.getElementById('myModal').style.display = 'block';
		    })
		    .catch(error => {
		        console.error('Error:', error);
		    });
		}

		function handleCancelReservation(props) {
		    const rowKey = props.rowKey;
		    const rowData = props.grid.getRow(rowKey);
		    const cslNo = rowData.CSL_NO;
		    const cslCate = document.getElementById('counselingOptions').value;
		    Swal.fire({
		        title: '예약을 취소하시겠습니까?',
		        text: "취소 후 되돌릴 수 없습니다.",
		        icon: 'warning',
		        showCancelButton: true,
		        confirmButtonColor: '#3085d6',
		        cancelButtonColor: '#d33',
		        confirmButtonText: '네, 취소합니다.'
		    }).then((result) => {
		        if (result.isConfirmed) {
		            fetch('/cancelReservation', {
		                method: 'POST',
		                headers: {
		                    'Content-Type': 'application/json'
		                },
		                body: JSON.stringify({ cslNo: cslNo, cslCate: cslCate })
		            })
		            .then(response => {
		                if (!response.ok) {
		                    throw new Error('Network response was not ok');
		                }
		                return response.json();
		            })
		            .then(data => {
		                Swal.fire(
		                    '취소 완료!',
		                    '예약이 성공적으로 취소되었습니다.',
		                    'success'
		                );
		                const selectedOption = document.getElementById('counselingOptions').value;
		                fetchCounselingData(selectedOption, [[${session.userNo}]]);
		            })
		            .catch(error => {
		                console.error('Error:', error);
		                Swal.fire(
		                    '취소 실패',
		                    '예약 취소 중 오류가 발생했습니다.',
		                    'error'
		                );
		            });
		        }
		    });
		}

	</script>
	<!-- 모달 창 -->
	<div id="myModal" class="modal">
		<!-- 모달 내용 -->
		<div class="modal-content">
			<div class="modal-content_top">
				<div id="modal_top">
					<span id=modal_top_title>상담신청</span> <span id="closeButton"
						class="close">&times;</span>
				</div>
				<div id="modal_mid">
					<div id="modal_mid_title"></div>
					<div id="modal_mid_table1">
						<div class="modal_mid_table1_row2 modal_mid_table1_row_top">
							<div class="colored_cell modal_cell colered">상담구분</div>
							<div class="uncolored_cell modal_cell uncolered" id="modalCate">
							</div>
						</div>
					</div>
					<div id="modal_mid_table2">
						<div class="modal_mid_table1_row1 modal_mid_table1_row_top">
							<div class="colored_cell modal_cell colered">이름</div>
							<div class="uncolored_cell modal_cell uncolered"
								id="modalStudentName"></div>
							<div class="colored_cell modal_cell colered">학번</div>
							<div class="uncolored_cell modal_cell uncolered" id="modalStudNo">
							</div>
						</div>
						<div class="modal_mid_table1_row2">
							<div class="colored_cell modal_cell colered">소속</div>
							<div class="uncolored_cell modal_cell uncolered"
								id="modalDeptName"></div>
						</div>
						<div class="modal_mid_table1_row1">
							<div class="colored_cell modal_cell colered">연락처</div>
							<div class="uncolored_cell modal_cell uncolered"
								id="modalStudentTelNo"></div>
						</div>
						<div class="modal_mid_table1_row2">
							<div class="colored_cell modal_cell colered">이메일</div>
							<div class="uncolored_cell modal_cell uncolered"
								id="modalStudentEmail"></div>
						</div>
					</div>
					<div id="modal_mid_table3">
						<div class="modal_mid_table1_row1 modal_mid_table1_row_top">
							<div class="colored_cell modal_cell colered">상담일자</div>
							<div class="uncolored_cell modal_cell uncolered" id=modalDate>
							</div>
							<div class="colored_cell modal_cell colered">상담시간</div>
							<div class="uncolored_cell modal_cell uncolered" id="modalTime">
							</div>
						</div>
						<div class="modal_mid_table1_row2">
							<div class="colored_cell modal_cell colered">상담상태</div>
							<div class="uncolored_cell modal_cell uncolered" id="modalIsBook">
							</div>
						</div>
						<div class="modal_mid_table1_row1">
							<div class="colored_cell modal_cell colered">상담자</div>
							<div class="uncolored_cell modal_cell uncolered"
								id="modalCslorName"></div>
							<div class="colored_cell modal_cell colered">상담장소</div>
							<div class="uncolored_cell modal_cell uncolered" id="modalCslLoc">
							</div>
						</div>
						<div class="modal_mid_table1_row2">
							<div class="colored_cell modal_cell colered">신청 내용</div>
							<div class="uncolored_cell modal_cell uncolered"
								id="modalContent">
								<textarea id="modalText" rows="5" cols="50" readonly></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="modal_bottom">
				<div class="modal_close">닫기</div>
			</div>
		</div>
	</div>



<!-- 모달 창 -->
	<div id="myModal" class="modal">
	    <!-- 모달 내용 -->
	    <div class="modal-content">
	    	<div class="modal-content_top">
		    	<div id="modal_top">
		    		<span id=modal_top_title>상담신청</span>
			        <span id="closeButton" class="close">&times;</span>
		    	</div>
		    	<div id="modal_mid">
		    		<div id="modal_mid_title">
		    		</div>
		    		<div id="modal_mid_table1">
		    			<div class="modal_mid_table1_row2 modal_mid_table1_row_top">
		    				<div class="colored_cell modal_cell colered">
		    					상담구분
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalCate">
		    				</div>
		    			</div>
		    				
		    		</div>
		    		<div id="modal_mid_table2">
		    			<div class="modal_mid_table1_row1 modal_mid_table1_row_top">
		    				<div class="colored_cell modal_cell colered">
		    					이름
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalStudentName">
		    				</div>							    			
		    				<div class="colored_cell modal_cell colered">
		    					학번
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalStudNo">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row2">
		    				<div class="colored_cell modal_cell colered">
		    					소속
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalDeptName">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row1">
		    				<div class="colored_cell modal_cell colered">
		    					연락처
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalStudentTelNo">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row2">
		    				<div class="colored_cell modal_cell colered">
		    					이메일
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalStudentEmail">
		    				</div>							    			
		    			</div>
		    		</div>
		    		<div id="modal_mid_table3">
		    			<div class="modal_mid_table1_row1 modal_mid_table1_row_top">
		    				<div class="colored_cell modal_cell colered">
		    					상담일자
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id=modalDate>
		    				</div>							    			
		    				<div class="colored_cell modal_cell colered">
		    					상담시간
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalTime">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row2">
		    				<div class="colored_cell modal_cell colered">
		    					상담상태
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalIsBook">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row1">
		    				<div class="colored_cell modal_cell colered">
		    					상담자
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalCslorName">
		    				</div>							    			
		    				<div class="colored_cell modal_cell colered">
		    					상담장소
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalCslLoc">
		    				</div>							    			
		    			</div>
		    			<div class="modal_mid_table1_row2">
		    				<div class="colored_cell modal_cell colered">
		    					신청 내용
		    				</div>
		    				<div class="uncolored_cell modal_cell uncolered" id="modalTime">
		    					<textarea id="modalText" rows="5" cols="50"></textarea>
		    				</div>						    			
		    			</div>
		    		</div>
		    	</div>
		    </div>
	    	<div id="modal_bottom" >
	    		<div class="modal_close">
	    			닫기
	    		</div>
	    		<div class="modal_submit">
	    			등록
	    		</div>
	    	</div>
	        
	    </div>
	</div>



</body>
<script>
	//모달 영역 외의 부분을 클릭하면 모달 닫기
	window.onclick = function (event) {
		var modal = document.getElementById('myModal');
		if (event.target == modal) {
			closeModal();
		}
	}

	// 닫기 버튼과 모달 하단 영역 요소들을 정의
	let closeButton = document.getElementById('closeButton');
	let modalBottom = document.getElementById('modal_bottom');

	// 닫기 버튼 클릭 시 모달 닫기
	closeButton.addEventListener('click', closeModal);

	// 모달 하단 영역 클릭 시 모달 닫기
	modalBottom.addEventListener('click', closeModal);



	// 모달 열기 함수
	function openModal() {
		// 모달이 이미 열려 있는지 확인
		if (document.getElementById('myModal').style.display === 'block') return;
		document.getElementById('myModal').style.display = 'block';
	}


	// 모달 닫기 함수
	function closeModal() {
		// 모달 닫기
		document.getElementById('myModal').style.display = 'none';
	}
</script>

</html>
