<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>문의 상담 페이지</title>
    <link th:href="@{/css/reception.css}" rel="stylesheet" />
</head>
<body>
<div id="wrapNcs">
    <h1 class="tit_complete">
        문의 접수
    <span class="txt_red">완료</span>
    </h1>
    <p class="desc_complete1">
        문의하신 내용이
        <br>
        정상적으로 접수 되었습니다.
    </p>
    <p class="desc_complete2">
        답변은
    <span class="txt_black">상담센터 > 내 문의내역</span>
        이나
    <br>
        등록 시 입력하신 이메일을 통해
    <br>
        받아보실 수 있습니다.
    <br>
    <br>
    </p>
    <div class="wrap_btn">
        <a href="/myPage" class="btn_round">
            <span class="inner">마이 페이지</span>
        </a>
    </div>
</div>


</body>
</html>