<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문의 내역 상세 보기</title>
<link href="/assets2/admin/css/inquiriesdetail.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>문의 내역 상세 보기</h1>
        
        <!-- 오류 메시지 표시 -->
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>
        
        <!-- 성공 메시지 표시 -->
        <div th:if="${successMessage}" class="success-message">
            <p th:text="${successMessage}"></p>
        </div>

        <div class="inquiry-details">
            <p>제목: <span th:text="${inquiry.CSL_TITLE}"></span></p>
            <p>유형: <span th:text="${inquiry.CSL_CATEGORY}"></span></p>
            <p>내용: <span th:text="${inquiry.CSL_CONTENT}"></span></p>
        </div>
        
        <div th:unless="${inquiry.CSL_STATUS == '답변대기중'}">
            <div class="inquiry-details">
            <p>답변: <span th:text="${inquiry.CSL_ANSWER}" th:if="${inquiry.CSL_ANSWER}"></span></p>
            </div>
        </div>
        
       
        
        <!-- 답글 작성 버튼 (답변대기중 상태일 때만) -->
        <div th:if="${inquiry.CSL_STATUS == '답변대기중'}">
            <button id="replyButton" class="btn">답글 작성</button>
        </div>

        <!-- 답글 작성 폼 -->
        <div id="replyFormContainer" class="form-container" th:if="${inquiry.CSL_STATUS == '답변대기중'}">
            <form th:action="@{/admin/inquiries/{id}/respond(id=${inquiry.CSL_NO})}" method="post">
                <textarea name="response" rows="10" cols="70" placeholder="답글을 입력하세요"></textarea><br>
                <input type="submit" value="답글 작성">
            </form>
        </div>
        
        <button onclick="goBack()" class="back-link">메인 페이지로 이동</button>
    </div>

    <script>
        document.getElementById('replyButton').addEventListener('click', function() {
            var replyFormContainer = document.getElementById('replyFormContainer');
            replyFormContainer.style.display = 'block';
            this.style.display = 'none';
        });
        
        function goBack() {
        	  window.history.back();
        	}
    </script>
</body>
</html>