<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 내역 확인</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">문의 내역 확인</h1>
        <div id="inquiryList" class="mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">문의 종류</th>
                        <th scope="col">제목</th>
                        <th scope="col">날짜</th>
                        <th scope="col">답변 상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="inquiry : ${inquiries}" class="inquiry-row" th:data-inquiry-id="${inquiry.CSL_NO}">
                        <td th:text="${inquiry.CSL_NO}"></td>
                        <td th:text="${inquiry.CSL_CATEGORY}"></td>
                        <td th:text="${inquiry.CSL_TITLE}"></td>
                        <td th:text="${inquiry.CSL_DATE}"></td>
                        <td th:text="${inquiry.CSL_STATUS}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // 각 행 클릭 시 상세보기 페이지로 이동
            $('.inquiry-row').click(function () {
                var inquiryId = $(this).data('inquiry-id');
                window.location.href = '/admin/inquiries/detail/' + inquiryId; // 상세보기 페이지 URL로 이동
            });
        });
    </script>
</body>

</html>