@charset "UTF-8";

/*--------------------------------------------------------------
# group Section
--------------------------------------------------------------*/

 .gcpage1{
    width: 100vh; /* 예시로 너비를 80%로 설정 */
    margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 수평 가운데 정렬 */
 }
 
 .gcpage2{
 	width: 100vh;
 	margin: 0 auto;
 }
 
 .proDetailPage{
 	width: 100vh;
 	background-color: silver;
 }
 
 .gcpa{
 	font-weight: bolder;
 	font-size: 24px;
 }

#groupSection {
  padding-top: 50px;
  width: 100%;
  min-height: 88.7vh
}

.group img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.group:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
}

.ec .container {
  position: relative;
  z-index: 3;
}

.group h2 {
  color: var(--contrast-color);
  margin: 0;
  font-size: 44px;
  font-weight: 700;
}

.group p {
  color: rgba(var(--default-color-rgb), 0.8);
  margin: 5px 0 0 0;
  font-size: 20px;
}

.group .sign-up-form {
  margin-top: 20px;
  padding: 10px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}

.group .sign-up-form .form-control {
  border: none;
}

.group .sign-up-form .form-control:active,
.group .sign-up-form .form-control:focus {
  outline: none;
  box-shadow: none;
}

.group .sign-up-form input[type=submit] {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  padding: 8px 20px 10px 20px;
  border-radius: 7px;
  color: var(--contrast-color);
}

.group .sign-up-form input[type=submit]:hover {
  background-color: rgba(var(--accent-color-rgb), 0.9);
}

.category-selector {
    display: flex;
    flex-wrap: wrap;
}

.category-selector label {
    margin-left: 10px; /* 각 체크박스 사이의 간격 조절 */
}

.category-selector input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    width: 55vh;
}

.search-box button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #0056b3;
}

.programType{
	font-size: 20px;
	font-weight: bold;
}

.card {
    width: 35vh;
    white-space: normal;
    word-wrap: break-word;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#gcdFont{
	font-size: 20px;
}

.applyMember{
	float: right;
	font-weight: bold;
	background-color: aqua;
}

.gcgroupApplyBox1{
	font-size: 18px;
	background-color: silver;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
}

.gcgroupApplyBox2{
	font-size: 18px;
	background-color: silver;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
}

.gcgroupApplyInput1{
	font-size: 24px;
	background-color: white;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 5px;
	width: 55vh;
	font-weight: bold;
}

.gcgroupApplyInput2{
	font-size: 24px;
	background-color: white;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 5px;
	width: 25vh;
	font-weight: bold;
}

.gcgroupApplyInput3{
	font-size: 24px;
	background-color: white;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 5px;
	width: 30vh;
	font-weight: bold;
}

.gcgroupApplyInput4{
	font-size: 20px;
	background-color: white;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 5px;
	width: 56vh;
}

.nameBox1{
	margin-left: 20px;
}

.nameBox2{
	margin-left: 20px;
}

.nameBox3 {
    display: block;
    margin-left: 20px;
    margin-top: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#listBtn{
	background-color: white;
}

#applyBtn{
	background-color: #87CEFA;
	font-weight: bold;
}

#applyCancelBtn{
	background-color: orange;
	font-weight: bold;
}

a:link {
  color : blue;
}

@media (max-width: 768px) {
  .group h2 {
    font-size: 32px;
  }

  .group p {
    font-size: 18px;
  }
  

}