@charset "UTF-8";

.footer {
	border-radius: 15px;
	clear: both;
   	position: relative;
}

div.menu {
	margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 20px; /* 요소 간의 간격을 조절 */
}

.mid {
	text-align: center;
}

.copyright {
	text-align: center;
	margin-bottom: 10px;
}