<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>중앙 - 상담 시스템</title>

<script
	src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
	integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- jQuery UI -->
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<!-- SweetAlert -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Bootstrap JS -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


<!-- Main CSS File -->
<link href="assets/css/main.css" rel="stylesheet">
<link href="assets/css/professor.css" rel="stylesheet">
<style type="text/css">
#calendar {
	max-width: 800px;
	margin: 40px auto;
}

.fc-event {
	background-color: #007bff;
	color: white;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.fc-event:hover {
	background-color: #0056b3;
}

#fileUp{
	background-color: #4CAF50; /* 초록색 */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#fileUp:hover{
	background-color: #45a049;
}

#cslDetailText input[type="text"] {
    width: 500px; /* 원하는 크기로 조절하세요 */
    padding: 8px; /* 입력 필드 내부 여백 설정 */
    font-size: 16px; /* 원하는 글자 크기로 조절하세요 */
    height: 300px;
}
#modal_asign {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	padding: 18px 0 ;
	background-color: blue;
	color: white;
	cursor: pointer; /* 손가락 모양의 커서로 설정 */
	display: inline-block;
}

</style>
</head>

<body class="index-page">
	<header class="header">
		<div th:replace="../templates/fragments/header"></div>
	</header>

	<main>
		<section>
			<div class="container">
				<!-- Content here -->
				<div id='calendar'></div>
				<button id="pfData">교수님 데이터 적용</button>
				<button id="pfInformation">교수님 정보</button>
				<!-- 모달 구조 -->
				<div id="userNo" style="display: none;" th:text="${session.userNo}"></div>				
				
				<div id="myModal" class="modal">
				    <!-- 모달 내용 -->
				    
				    <div class="modal-content">
				    	<div class="modal-content_top">
					    	<div id="modal_top">
					    		<span id=modal_top_title>상담 신청</span>
						        <span id="closeButton" class="close">&times;</span>
					    	</div>
					    	<div id="modal_mid">
					    		<div id="modal_mid_table1">
					    			<div class="modal_mid_table1_row1 modal_mid_table1_row_top">
					    					<div class="colored_cell modal_cell colered">
						    					이름
						    				</div>
						    				<div class="uncolored_cell modal_cell uncolered" th:text="${session.username}">111
						    				</div>
						    				<div class="colored_cell modal_cell colered">
						    					학번
						    				</div>
						    				<div class="uncolored_cell modal_cell uncolered" id="studentId" th:text="${session.REAL_STUD_NO}">
						    				</div>
						    			</div>
						    			<div class="modal_mid_table1_row1 modal_mid_table1_row_bottom">
						    				<div class="colored_cell modal_cell colered">
						    					소속
						    				</div>
						    				<div class="uncolored_cell modal_cell uncolered" th:text="${session.C_NMK}">
						    				</div>
						    				<div class="colored_cell modal_cell colered">
						    					연락처
						    				</div>
						    				<div class="uncolored_cell modal_cell uncolered" th:text="${session.mbr_telno}">
						    				</div>
						    			</div>
						    			<div class="modal_mid_table1_row1">
						    				<div class="colored_cell modal_cell colered">
						    					이메일
						    				</div>
						    				<div class="uncolored_cell modal_cell uncolered" th:text="${session.email}">
						    				</div>							    				
						    			</div>
					    			</div>
					    			
					    		<div id="modal_mid_table2">
					    			<div class="modal_mid_table1_row2 modal_mid_table1_row_top">
					    				<div class="colored_cell modal_cell colered">
					    					상담일자
					    				</div>
					    				<div class="uncolored_cell modal_cell uncolered" id="event-date">
					    				</div>							    			
					    			</div>
					    			<div class="modal_mid_table1_row2">
					    				<div class="colored_cell modal_cell colered">
					    					상담시간
					    				</div>
					    				<div class="uncolored_cell modal_cell uncolered" id="event-time">
					    				</div>							    			
					    			</div>
					    			<div class="modal_mid_table1_row2">
					    				<div class="colored_cell modal_cell colered">
					    					상담 상태
					    				</div>
					    				<div class="uncolored_cell modal_cell uncolered" id="deptName">
					    					예약가능
					    				</div>							    			
					    			</div>
					    			<div class="modal_mid_table1_row2">
					    				<div class="colored_cell modal_cell colered">
					    					상담자
					    				</div>
					    				<div class="uncolored_cell modal_cell uncolered" id="profName">
					    				</div>							    			
					    			</div>
					    			<div class="modal_mid_table1_row2">
					    				<div class="colored_cell modal_cell colered">
					    					상담장소
					    				</div>
					    				<div class="uncolored_cell modal_cell uncolered" id="profLocation">
					    				</div>							    			
					    			</div>
					    			<div class="modal_mid_table1_row2">
					    				<div class="colored_cell modal_cell colered">
					    					상담신청 내용
					    				</div>
					    				<div class="uncolored_cell modal_cell uncolered" id="cslDetailText">
					    				<input type="text">
					    				</div>							    			
					    			</div>
					    			<div class="modal_mid_table1_row2">
					    				<div class="colored_cell modal_cell colered">
					    					상담신청 첨부파일
					    				</div>
					    				<div class="uncolored_cell modal_cell uncolered" id="cslDetailFile">
					    				<button id="fileUp" onclick="uploadFile()">파일 업로드</button>
					    				</div>							    			
					    			</div>
					    		</div>
					    	</div>
					    </div>
				    	<div id="modal_bottom">
				    		닫기
				    	</div>
				    	<div id="modal_asign">
				    		신청
				    	</div>
				    </div>
				</div>
				
				
			</div>
		</section>
	</main>

<script type="text/javascript">



//모달 영역 외의 부분을 클릭하면 모달 닫기
window.onclick = function(event) {
    var modal = document.getElementById('myModal');
    if (event.target == modal) {
        closeModal();
    }
}

// 닫기 버튼과 모달 하단 영역 요소들을 정의
let closeButton = document.getElementById('closeButton');
let modalBottom = document.getElementById('modal_bottom');

// 닫기 버튼 클릭 시 모달 닫기
closeButton.addEventListener('click', closeModal);

// 모달 하단 영역 클릭 시 모달 닫기
modalBottom.addEventListener('click', closeModal);

// 모달 닫기
function closeModal() {
    var modal = document.getElementById('myModal');
    modal.style.display = "none";
}


//시간코드(t0900 기준) -> 시간으로 변환()
function convertTime(timeString) {
    var hour = parseInt(timeString.substr(1, 2));
    var minutes = parseInt(timeString.substr(3, 2)); 
    var formattedTime = ('0' + hour).slice(-2) + ':' + ('0' + minutes).slice(-2);
    return formattedTime;
}
//날짜코드(YMD) -> YYYY-MM-DD로 바꾸기
function formatDate(dateString) {
    var year = dateString.substr(0, 4);
    var month = dateString.substr(4, 2);
    var day = dateString.substr(6, 2);
    return year + '-' + month + '-' + day;
}

//제외할 스케쥴이 있는경우
function generateEvents(scheduleInfo) {
    var events = [];

    // 날짜별로 예약된 시간을 저장
    var scheduleMap = {};

    scheduleInfo.forEach(function(schedule) {
        var formattedDate = formatDate(schedule.date);
        var formattedTime = convertTime(schedule.time);

        if (!scheduleMap[formattedDate]) {
            scheduleMap[formattedDate] = [];
        }
        scheduleMap[formattedDate].push(formattedTime);
    });

    // 모든 날짜에 대해 이벤트 생성
    for (var day = 0; day < 365; day++) {
        var currentDate = new Date();
        currentDate.setDate(currentDate.getDate() + day);
        var formattedDate = currentDate.toISOString().split('T')[0];

        var convertedTimes = scheduleMap[formattedDate] || [];
        var startTime = new Date(formattedDate + 'T09:00');
        var endTime = new Date(formattedDate + 'T18:00');

        var currentTime = new Date(startTime);

        while (currentTime < endTime) {
            var hour = ('0' + currentTime.getHours()).slice(-2);
            var minutes = '00';
            var time = hour + ':' + minutes;

            if (!convertedTimes.includes(time)) {
                events.push({
                    start: new Date(currentTime)
                });
            }

            currentTime.setHours(currentTime.getHours() + 1);
        }
    }

    return events;
}

//제외할 스케쥴이 없는경우(전체 상담가능)
function generateEventsForAllTimes() {
    var events = [];

    // 1년 동안의 모든 날짜에 대해 반복
    for (var day = 0; day < 365; day++) {
        var currentDate = new Date();
        currentDate.setDate(currentDate.getDate() + day);

        // 해당 날짜의 상담 가능한 모든 시간대에 대해 반복
        for (var hour = 9; hour <= 18; hour++) {
            var startTime = new Date(currentDate);
            startTime.setHours(hour, 0, 0);

            // 생성된 이벤트를 배열에 추가
            events.push({
                start: startTime
            });
        }
    }

    return events;
}



	document.addEventListener('DOMContentLoaded', function() {
		// 세션 값 가져오기
		    


		
		
		
		
		// URLSearchParams 객체를 사용하여 URL에서 쿼리 매개변수를 추출
        var urlParams = new URLSearchParams(window.location.search);
        
        // URLSearchParams의 get() 메서드를 사용하여 profNo(교번) 값을 가져옴
        var profNo = urlParams.get('profNo');
        console.log(profNo);
		
		$('#modal_asign').on('click', function() {
	        // 상담시간, 상담일자, 상담내용, 학번, 교번 가져오기
	        var eventTime = $('#event-time').text();
	        var eventDate = $('#event-date').text();
	        var inputField = document.getElementById("cslDetailText").querySelector("input[type='text']");
	        var cslContent = inputField.value;
	        var studentID = document.getElementById('userNo').innerText.trim();
	        
	        console.log(eventTime);
	        console.log(eventDate);
	        console.log(cslContent);
	        console.log(studentID);
	        console.log(profNo);
	        
	     	// eventDate 형식을 2024-05-20에서 20240520으로 변환
	        var eventformattedDate = eventDate.replace(/-/g, '');
	     	
	     	// eventTime 형식을 16:00에서 T1600으로 변환
	        var eventformattedTime = 'T' + eventTime.replace(':', '');
	        

	        // AJAX 요청을 통해 서버로 데이터 전송
	        $.ajax({
	            url: '/insertProfCslData', // 서버의 엔드포인트로 변경
	            method: 'POST',
	            data: {
	            	PFCS_TIME: eventformattedTime,
		            PFCS_YMD: eventformattedDate,
		            PFCS_CN: cslContent,
		            STUD_NO: studentID,
		            PF_NO: profNo
		        },
	            success: function(response) {
	                // 서버 응답 처리
	                alert('상담 신청이 성공적으로 완료되었습니다.');
	                window.location.href = '/index';
	            },
	            error: function(error) {
	                // 오류 처리
	                alert('상담 신청 중 오류가 발생했습니다.');
	                console.log(error)
	            }
	        });
	    });
		
		
		
		//스케쥴 테이블 불러오기 ->캘린더 event넣기
			$.ajax({
				url: '/calendarData',
				method: 'Post',
				data: {pfNo: profNo},
				success: function(data){
					if(data.length > 0) {
						console.log(data);
						var scheduleInfo = []; // 스케쥴의 모든 날짜와 시간을 담을 배열
		                
		                // 모든 스케쥴 데이터를 반복하여 날짜와 시간을 추출하여 배열에 추가
		                data.forEach(function(schedule) {
		                    var scheduleDate = schedule.pf_SCD_YMD; // 날짜
		                    var scheduleTime = schedule.pf_SCD_HMCD; // 시간
		                    scheduleInfo.push({date: scheduleDate, time: scheduleTime}); // 날짜와 시간을 객체로 만들어 배열에 추가
		                });

		                console.log(scheduleInfo); // 스케쥴의 모든 날짜와 시간 출력
		                
		                // 시간 변환
		                var convertedTimes = [];
		                scheduleInfo.forEach(function(schedule) {
		                    var convertedTime = convertTime(schedule.time);
		                    convertedTimes.push(convertedTime);
		                });

		                // 이벤트 생성
		                var events = generateEvents(scheduleInfo, convertedTimes);

		                // 캘린더에 이벤트 추가
		                calendar.addEventSource(events);

		            } else {
		            	//스케쥴이 없을때의 캘린더
		            	var events = generateEventsForAllTimes();
		            	calendar.addEventSource(events);
		            }
				},
				error: function(error){
					console.error('에러' + error);
				}
			});
		
		//교수님(교번으로) 정보 불러오기(장소, 번호등) -> 모달에 넣기
			$.ajax({
				url: '/pfInfoData',
				method: 'Post',
				data: {pfNo: profNo},
				success: function(data){
					if(data.length > 0) {
						document.getElementById('profName').innerText = data[0].pf_NM;
						document.getElementById('profLocation').innerText = data[0].pf_PLC_NM;
						//$('profName').text(data[0].pf_NM);
						//$('profLocation').text(data[0].pf_PLC_NM);
			            
		            } else {
		                console.log('No data received');
		            }
				},
				error: function(error){
					console.error('에러' + error);
				}
			});
		
		
		
		//캘린더 그리는 스크립트
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView : 'timeGridWeek',
			locale: 'ko', // 한국어 설정
			headerToolbar: {
			      left: 'prev,next today',
			      center: 'title',
			      right: 'dayGridMonth,timeGridWeek'
			 },
			 buttonText: {
                 today: '오늘',
                 month: '월간보기',
                 week: '주간보기'
             },
			 weekends: false,
			 slotMinTime: '09:00:00',  // 9시부터 시작
			 slotMaxTime: '18:00:00',  // 18시까지 표시
			 allDaySlot: false,  // all-day 섹션 제거
			 events:[],
			 eventClick: function(info) {
				info.jsEvent.preventDefault(); // 페이지 이동을 막음(url이동)
				
				// 클릭된 이벤트의 시간과 날짜 가져오기
			    var eventStart = info.event.start;
			    var eventTime = eventStart.getHours() + ':' + ('0' + eventStart.getMinutes()).slice(-2);
			    var eventDate = eventStart.toISOString().split('T')[0];
			    
			    document.getElementById('event-time').innerText = eventTime;
				document.getElementById('event-date').innerText = eventDate;
			    $('#event-time').text(eventTime);
    			$('#event-date').text(eventDate);
			    
    			document.getElementById('myModal').style.display = "block";
                     
		     }
		});
		
		calendar.render();
		
		
		function setClickableStatus(clickable) {
	        calendar.getEvents().forEach(function(event) {
	            event.setProp('startEditable', clickable); // 모든 이벤트를 클릭 가능 여부에 따라 설정
	        });
	    }

	    // 모든 시간대를 클릭 가능하도록 활성화
	    setClickableStatus(true);
		
		
		
	});
</script>

</body>

<footer id="footer">
	<div th:replace="../templates/fragments/footer"></div>
</footer>

</html>