<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>중앙 - 상담 시스템</title>

<script
	src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
	integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- jQuery UI -->
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<!-- SweetAlert -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Bootstrap JS -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


<!-- Main CSS File -->
<link href="assets/css/main.css" rel="stylesheet">
<style type="text/css">
#calendar {
	max-width: 800px;
	margin: 40px auto;
}

.fc-event {
	background-color: #007bff;
	color: white;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.fc-event:hover {
	background-color: #0056b3;
}

div.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* 반투명 검정 */
	z-index: 10; /* 모달보다 아래 */
}

div.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 20; /* 오버레이보다 위 */
    max-width: 60%; /* 모달의 최대 너비를 화면 너비의 80%로 설정 */
    max-height: 60%; /* 모달의 최대 높이를 화면 높이의 80%로 설정 */
    overflow: auto; /* 모달 내용이 넘칠 경우 스크롤바를 추가 */
}

div.modal-header {
	font-size: 18px;
	font-weight: bold;
}

div.modal-body {
	margin-top: 10px;
}

div.modal-footer {
	text-align: right;
}
</style>
</head>

<body class="index-page">
	<header class="header">
		<div th:replace="../templates/fragments/header"></div>
	</header>

	<main>
		<section>
			<div class="container">
				<!-- Content here -->
				<div id='calendar'></div>
				<button id="pfData">교수님 데이터 적용</button>
				<button id="pfInformation">교수님 정보</button>
				<div id="modal-overlay" class="modal-overlay"></div>
				<!-- 모달 구조 -->
				<div id="event-modal" class="modal">
					<div class="modal-header modal-title">상담신청</div>
					<div class="modal-body">
						<table class="table t_view">
							    <tbody>
							        <tr>
							            <th>이름</th>
							            <td th:text="${session.username}"></td>
							            <th>학번</th>
							            <td th:text="${session.REAL_STUD_NO}"></td>
							        </tr>
							        <tr>
							            <th>소속</th>
							            <td colspan="3" th:text="${session.C_NMK}"></td>
							        </tr>
							        <tr>
							            <th>연락처</th>
							            <td th:text="${session.mbr_telno}"></td>
							            <th>이메일</th>
							            <td th:text="${session.email}"></td>
							        </tr>
							    </tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button id="modal-close-btn" type="button">취소</button>
						<button id="asign-prof-csl">상담 신청</button>
					</div>
				</div>
			</div>
		</section>
	</main>

<script type="text/javascript">

//시간코드(t0900 기준) -> 시간으로 변환()
function convertTime(timeString) {
    var hour = parseInt(timeString.substr(1, 2));
    var minutes = parseInt(timeString.substr(3, 2)); 
    var formattedTime = ('0' + hour).slice(-2) + ':' + ('0' + minutes).slice(-2);
    return formattedTime;
}
//날짜코드(YMD) -> YYYY-MM-DD로 바꾸기
function formatDate(dateString) {
    var year = dateString.substr(0, 4);
    var month = dateString.substr(4, 2);
    var day = dateString.substr(6, 2);
    return year + '-' + month + '-' + day;
}

//제외할 스케쥴이 있는경우
function generateEvents(scheduleInfo) {
    var events = [];

    // 날짜별로 예약된 시간을 저장
    var scheduleMap = {};

    scheduleInfo.forEach(function(schedule) {
        var formattedDate = formatDate(schedule.date);
        var formattedTime = convertTime(schedule.time);

        if (!scheduleMap[formattedDate]) {
            scheduleMap[formattedDate] = [];
        }
        scheduleMap[formattedDate].push(formattedTime);
    });

    // 모든 날짜에 대해 이벤트 생성
    for (var day = 0; day < 365; day++) {
        var currentDate = new Date();
        currentDate.setDate(currentDate.getDate() + day);
        var formattedDate = currentDate.toISOString().split('T')[0];

        var convertedTimes = scheduleMap[formattedDate] || [];
        var startTime = new Date(formattedDate + 'T09:00');
        var endTime = new Date(formattedDate + 'T18:00');

        var currentTime = new Date(startTime);

        while (currentTime < endTime) {
            var hour = ('0' + currentTime.getHours()).slice(-2);
            var minutes = '00';
            var time = hour + ':' + minutes;

            if (!convertedTimes.includes(time)) {
                events.push({
                    start: new Date(currentTime)
                });
            }

            currentTime.setHours(currentTime.getHours() + 1);
        }
    }

    return events;
}

//제외할 스케쥴이 없는경우(전체 상담가능)
function generateEventsForAllTimes() {
    var events = [];

    // 1년 동안의 모든 날짜에 대해 반복
    for (var day = 0; day < 365; day++) {
        var currentDate = new Date();
        currentDate.setDate(currentDate.getDate() + day);

        // 해당 날짜의 상담 가능한 모든 시간대에 대해 반복
        for (var hour = 9; hour <= 18; hour++) {
            var startTime = new Date(currentDate);
            startTime.setHours(hour, 0, 0);

            // 생성된 이벤트를 배열에 추가
            events.push({
                start: startTime
            });
        }
    }

    return events;
}



	document.addEventListener('DOMContentLoaded', function() {
		
		
		$('#asign-prof-csl').on('click', function() {
	        // 상담시간, 상담일자, 상담내용 가져오기
	        var eventTime = $('#event-time').text();
	        var eventDate = $('#event-date').text();
	        var cslContent = $('#csl-content').val();
	        console.log(eventTime);
	        console.log(eventDate);
	        console.log(cslContent);
	        
	     	// eventDate 형식을 2024-05-20에서 20240520으로 변환
	        var eventformattedDate = eventDate.replace(/-/g, '');
	     	
	     	// eventTime 형식을 16:00에서 T1600으로 변환
	        var eventformattedTime = 'T' + eventTime.replace(':', '');
	        
	        var dataString = JSON.stringify({
	            PFCS_TIME: eventformattedTime,
	            PFCS_YMD: eventformattedDate,
	            PFCS_CN: cslContent
	        });
	        
	        console.log(dataString);

	        // AJAX 요청을 통해 서버로 데이터 전송
	        $.ajax({
	            url: '/insertProfCslData', // 서버의 엔드포인트로 변경
	            method: 'POST',
	            data: {
	            	PFCS_TIME: eventformattedTime,
		            PFCS_YMD: eventformattedDate,
		            PFCS_CN: cslContent
		        },
	            success: function(response) {
	                // 서버 응답 처리
	                alert('상담 신청이 성공적으로 완료되었습니다.');
	            },
	            error: function(error) {
	                // 오류 처리
	                alert('상담 신청 중 오류가 발생했습니다.');
	                console.log(error)
	            }
	        });
	    });
		
		
		
		// URLSearchParams 객체를 사용하여 URL에서 쿼리 매개변수를 추출
        var urlParams = new URLSearchParams(window.location.search);
        
        // URLSearchParams의 get() 메서드를 사용하여 profNo 값을 가져옴
        var profNo = urlParams.get('profNo');		
        
		
		//스케쥴 테이블 불러오기 ->캘린더 만들기
		$('#pfData').click(function(){
			$.ajax({
				url: '/calendarData',
				method: 'Post',
				data: {pfNo: profNo},
				success: function(data){
					if(data.length > 0) {
						var scheduleInfo = []; // 스케쥴의 모든 날짜와 시간을 담을 배열
		                
		                // 모든 스케쥴 데이터를 반복하여 날짜와 시간을 추출하여 배열에 추가
		                data.forEach(function(schedule) {
		                    var scheduleDate = schedule.pf_SCD_YMD; // 날짜
		                    var scheduleTime = schedule.pf_SCD_HMCD; // 시간
		                    scheduleInfo.push({date: scheduleDate, time: scheduleTime}); // 날짜와 시간을 객체로 만들어 배열에 추가
		                });

		                console.log(scheduleInfo); // 스케쥴의 모든 날짜와 시간 출력
		                
		                // 시간 변환
		                var convertedTimes = [];
		                scheduleInfo.forEach(function(schedule) {
		                    var convertedTime = convertTime(schedule.time);
		                    convertedTimes.push(convertedTime);
		                });

		                // 이벤트 생성
		                var events = generateEvents(scheduleInfo, convertedTimes);

		                // 캘린더에 이벤트 추가
		                calendar.addEventSource(events);

		            } else {
		            	//스케쥴이 없을때의 캘린더
		            	var events = generateEventsForAllTimes();
		            	calendar.addEventSource(events);
		            }
				},
				error: function(error){
					console.error('에러' + error);
				}
			});
		});
		
		//교수님(교번으로) 정보 불러오기(장소, 번호등) -> 모달에 넣기
		$('#pfInformation').click(function(){
			$.ajax({
				url: '/pfInfoData',
				method: 'Post',
				data: {pfNo: profNo},
				success: function(data){
					if(data.length > 0) {
						console.log(data);
						console.log(data.PF_NM);
						document.getElementById('profName').innerText = data.PF_NM;
			            document.getElementById('profContact').innerText = data.PF_TELNO;
			           	//document.getElementById('profDepartment').innerText = data.C_NMK;  
			           	//document.getElementById('profEmail').innerText = data.email;	
			            document.getElementById('profLocation').innerText = data.PF_PLC_NM;
			            document.getElementById('profField').innerText = data.PF_CS_PART;
			            
		            } else {
		                console.log('No data received');
		            }
				},
				error: function(error){
					console.error('에러' + error);
				}
			});
		});
		
		
		
		//캘린더 그리는 스크립트
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView : 'timeGridWeek',
			locale: 'ko', // 한국어 설정
			headerToolbar: {
			      left: 'prev,next today',
			      center: 'title',
			      right: 'dayGridMonth,timeGridWeek'
			 },
			 buttonText: {
                 today: '오늘',
                 month: '월간보기',
                 week: '주간보기'
             },
			 weekends: false,
			 slotMinTime: '09:00:00',  // 9시부터 시작
			 slotMaxTime: '18:00:00',  // 18시까지 표시
			 allDaySlot: false,  // all-day 섹션 제거
			 events:[],
			 eventClick: function(info) {
				info.jsEvent.preventDefault(); // 페이지 이동을 막음(url이동)
				
				// 클릭된 이벤트의 시간과 날짜 가져오기
			    var eventStart = info.event.start;
			    var eventTime = eventStart.getHours() + ':' + ('0' + eventStart.getMinutes()).slice(-2);
			    var eventDate = eventStart.toISOString().split('T')[0];
			    
                
			    $('#event-time').text(eventTime);
    			$('#event-date').text(eventDate);
			    

                     
    			$('#event-modal').css('display', 'block');
    		    $('#modal-overlay').css('display', 'block');
		     }
		});
		
		calendar.render();
		
		
		function setClickableStatus(clickable) {
	        calendar.getEvents().forEach(function(event) {
	            event.setProp('startEditable', clickable); // 모든 이벤트를 클릭 가능 여부에 따라 설정
	        });
	    }

	    // 모든 시간대를 클릭 가능하도록 활성화
	    setClickableStatus(true);
		
		
		//모달 끄기 버튼
		$('#modal-close-btn').click(function() {
	        $('#event-modal').hide();
	        $('#modal-overlay').hide();
	    });
		
	});
</script>

</body>

<footer id="footer">
	<div th:replace="../templates/fragments/footer"></div>
</footer>

</html>